				<div class="card fluid">
					<h2>Functionality Tables</h2>
					<p>A list of what doesn't work on DivestOS</p>
					<div class="section" id="devices">
						<h3>Devices<a href="#devices">¶</a></h3>
						<p>Devices listed as "Works" on Downloads page will not be listed here if they are fully working as expected and do not have any quirks.</p>
						<h4 id="all">All Devices<a href="#all">¶</a></h4>
						<ul>
							<li>'Developer options' will crash on 15.1 due to null PDB handle. [upstream?]</li>
							<li>Devices using 'encryptable=footer' in their fstab will not be encrypted by default. These devices typically are unable to be encrypted on the very first boot.</li>
							<li>Devices with less than 2GB of RAM *will* likely out-of-memory more often than usual. [various]</li>
							<li>Fenix based browsers such as a 'Mull' or 'Fennec F-Droid' might cause a reboot on launch. Please report your device if it does to be fixed.</li>
							<li>IMS may or may not work. [upstream? deblobber?]</li>
							<li>Incremental updates will often fail to successfully apply on non update-engine devices. [releasetools]</li>
							<li>MediaProvider error toast on some boots. [permission issue?]<a href="https://gitlab.com/divested-mobile/divestos-build/-/issues/3" target="_blank" rel="nofollow noopener noreferrer">[tracking]</a></li>
							<li>Most devices will take longer to acquire a GPS lock. Please test using GPSTest app with *clear* and *direct* line of sky. [deblobber]<a href="https://f-droid.org/en/packages/com.android.gpstest.osmdroid" target="_blank" rel="nofollow noopener noreferrer">[link]</a></li>
							<li>Phone call audio is distored sometimes until speaker phone is toggled. [deblobber?]</li>
							<li>Recovery will not be updated on each boot on 14.1. [upstream]</li>
							<li>Select older devices running 17.1/10 or higher will fail to connect to 802.11w optional enabled Wi-Fi networks due to lack of PMF support. [hardware]</li>
							<li>Silence will crash if first started without a SIM-card inserted. [upstream]</li>
							<li>'Storage Manager' is non-functional in some cases.</li>
							<li>Updater JSON parsing error on 14.1. [upstream?]<a href="https://gitlab.com/divested-mobile/divestos-build/-/issues/2" target="_blank" rel="nofollow noopener noreferrer">[tracking]</a></li>
						</ul>
						<h4 id="hdx-common">apollo/thor<a href="#hdx-common">¶</a></h4>
						<ul>
							<li>Encryption is not supported. [upstream blobs]</li>
						</ul>
						<h4 id="beryllium">beryllium<a href="#beryllium">¶</a></h4>
						<ul>
							<li>(confirmed report) Camera is non-functional. [???]</li>
						</ul>
						<h4 id="clark">clark<a href="#clark">¶</a></h4>
						<ul>
							<li>Camera is very slow to start and sometimes won't start at all. [upstream]</li>
						</ul>
						<h4 id="d852">d852<a href="#d852">¶</a></h4>
						<ul>
							<li>Sensors will not work unless you have a hybrid v220k modem which requires an a10b bootloader. [firmware]</li>
						</ul>
						<h4 id="g3-common">d852/d855/g3<a href="#g3-common">¶</a></h4>
						<ul>
							<li>Bluetooth likely won't start due to missing MAC address. [hwaddrs selinux? /misc corrupt?]</li>
							<li>Device will often fail on reboot and become unresponsive, requiring the battery to be pulled. [hardware]</li>
						</ul>
						<h4 id="op6-common">enchilada/fajita<a href="#op6-common">¶</a></h4>
						<ul>
							<li>Uses the stock /vendor partition, making many of the deblobber benefits unavailable.</li>
							<li>Builds before 2021/09/02 on the 11.0 bootloader/firmware will enter CrashDump mode. Hold volume up + power to exit and then use fastboot to flash a newer build. [firmware]<a href="https://review.lineageos.org/c/LineageOS/android_kernel_oneplus_sdm845/+/315208" target="_blank" rel="nofollow noopener noreferrer">[upstream fix]</a></li>
						</ul>
						<h4 id="flox">flox<a href="#flox">¶</a></h4>
						<ul>
							<li>Device powers off after sleeping for an unknown time. [???]</li>
						</ul>
						<h4 id="grouper">grouper<a href="#grouper">¶</a></h4>
						<ul>
							<li>Camera is non-functional. [upstream kernel]</li>
							<li>Device is extremely slow. [hardware?]</li>
							<li>Relocking bootloader with an AOSP/Lineage/DivestOS recovery flashed will result in a *permanent hard brick* unless you have acquired your NvFlash recovery token! [bootloader]<a href="https://web.archive.org/web/20171225183216/http://www.androidroot.mobi/pages/guides/tegra3-guide-nvflash-jellybean/" target="_blank" rel="nofollow noopener noreferrer">[guide]</a></li>
						</ul>
						</ul>
						<h4 id="herolte">herolte<a href="#herolte">¶</a></h4>
						<ul>
							<li>(reported) bootloops. [???]<a href="https://forum.f-droid.org/t/divestos-an-aftermarket-system/10105/62" target="_blank" rel="nofollow noopener noreferrer">[report]</a></li>
						</ul>
						<h4 id="s3-common">i9300/i9305/S3<a href="#s3-common">¶</a></h4>
						<ul>
							<li>USB MTP is likely not functioning. [SELinux?]</li>
							<li>NFC is likely not functioning. [SELinux?]</li>
						</ul>
						<h4 id="i9305">i9305<a href="#i9305">¶</a></h4>
						<ul>
							<li>(reported) SIM card detection issues. Likely fixed in 2021-06 build. [SELinux]<a href="https://github.com/divestos/divestos/issues/1" target="_blank" rel="nofollow noopener noreferrer">[report]</a></li>
						</ul>
						<h4 id="klte">klte<a href="#klte">¶</a></h4>
						<ul>
							<li>SD cards might fail to mount or format. [vold + selinux?]</li>
							<li>USB ADB does not work. [FunctionFS corruption]</li>
						</ul>
						<h4 id="maguro">maguro/toro/toroplus<a href="#maguro">¶</a></h4>
						<ul>
							<li>Not encrypted by default. [OMAP SMC limitation]</li>
							<li>Camera unavailable until reboot occasionally. [ducati cma issues?]</li>
						</ul>
						<h4 id="mako">mako<a href="#mako">¶</a></h4>
						<ul>
							<li>/system needs to be resized to fit 17.1 or higher. [too small partition]</li>
							<li>Will fail to boot on first boot. Force off once after 3 minutes. [modem subsystem service startup failure with forceencrypt]</li>
						</ul>
						<h4 id="mata">mata<a href="#mata">¶</a></h4>
						<ul>
							<li>Images will often fail to install via recovery. [fstab /vendor/firmware_mnt]</li>
							<li>Speaker phone volume cannot be changed from maximum.</li>
							<li>Phone call audio over Bluetooth inconsistently works.</li>
						</ul>
						<h4 id="nexn900">nex/n900<a href="#nexn900">¶</a></h4>
						<ul>
							<li>Camera is non-functional. [upstream blobs?]</li>
							<li>Encryption is not supported. [upstream device tree?]</li>
							<li>GPS is non-functional. [deblobber]</li>
						</ul>
						<h4 id="pixel2">taimen/walleye<a href="#pixel2">¶</a></h4>
						<ul>
							<li>(reported) APN persistence issues. [???]</li>
						</ul>
						<h4 id="starlte">starlte<a href="#starlte">¶</a></h4>
						<ul>
							<li>Uses the stock /vendor partition, making many of the deblobber benefits unavailable.</li>
						</ul>
					</div>
					<div class="section" id="hardware">
						<h3>Hardware Features<a href="#hardware">¶</a></h3>
						<p>While some hardware might not require proprietary userspace blobs, the hardware itself is non-free and usually runs proprietary firmware.</p>
						<table class="striped" style="max-height: 100%;">
							<thead>
								<tr>
									<th>Name</th>
									<th>Status</th>
									<th>Information</th>
								</tr>
							</thead>
							<tbody>
								<tr style="--table-body-fore-color: #4CAF50;">
									<td data-label="Name">Accelerometer/Gyro</td>
									<td data-label="Status">Works</td>
									<td data-label="Information">Some devices utilize blobs for sensors</td>
								</tr>
								<tr style="--table-body-fore-color: #4CAF50;">
									<td data-label="Name">Audio</td>
									<td data-label="Status">Works</td>
									<td data-label="Information">Some audio blobs are removed</td>
								</tr>
								<tr style="--table-body-fore-color: #4CAF50;">
									<td data-label="Name">Bluetooth</td>
									<td data-label="Status">Works</td>
									<td data-label="Information">Some devices utilize blobs for Bluetooth</td>
								</tr>
								<tr style="--table-body-fore-color: #673AB7;">
									<td data-label="Name">Camera</td>
									<td data-label="Status">Works</td>
									<td data-label="Information">No camera blobs are removed</td>
								</tr>
								<tr style="--table-body-fore-color: #4CAF50;">
									<td data-label="Name">Cell Service</td>
									<td data-label="Status">Works</td>
									<td data-label="Information">Many radio blobs are removed, but is kept fully functional</td>
								</tr>
								<tr style="--table-body-fore-color: #4CAF50;">
									<td data-label="Name">Compass</td>
									<td data-label="Status">Works</td>
									<td data-label="Information">No blobs are required for the compass</td>
								</tr>
								<tr style="--table-body-fore-color: #4CAF50;">
									<td data-label="Name">GPS</td>
									<td data-label="Status">Works</td>
									<td data-label="Information">Many location blobs are removed, but is kept fully functional</td>
								</tr>
								<tr style="--table-body-fore-color: #673AB7;">
									<td data-label="Name">GPU</td>
									<td data-label="Status">Works</td>
									<td data-label="Information">No GPU blobs are removed</td>
								</tr>
								<tr style="--table-body-fore-color: #673AB7;">
									<td data-label="Name">HW Audio Decoding</td>
									<td data-label="Status">Works</td>
									<td data-label="Information">No DSP/Hexagon blobs are removed</td>
								</tr>
								<tr style="--table-body-fore-color: #673AB7;">
									<td data-label="Name">HW Encryption</td>
									<td data-label="Status">Works</td>
									<td data-label="Information">Some TrustZone/Keystore blobs are removed</td>
								</tr>
								<tr style="--table-body-fore-color: #4CAF50;">
									<td data-label="Name">HW Packet Processor</td>
									<td data-label="Status">Works</td>
									<td data-label="Information">No blobs are required for Qualcomm's IPA</td>
								</tr>
								<tr style="--table-body-fore-color: #673AB7;">
									<td data-label="Name">HW Video Decoding</td>
									<td data-label="Status">Works</td>
									<td data-label="Information">No Venus blobs are removed</td>
								</tr>
								<tr style="--table-body-fore-color: #673AB7;">
									<td data-label="Name">IR Transceiver</td>
									<td data-label="Status">Works</td>
									<td data-label="Information">No IR blobs are removed</td>
								</tr>
								<tr style="--table-body-fore-color: #4CAF50;">
									<td data-label="Name">Light Sensor</td>
									<td data-label="Status">Works</td>
									<td data-label="Information">No blobs are required for the light sensor</td>
								</tr>
								<tr style="--table-body-fore-color: #4CAF50;">
									<td data-label="Name">NFC</td>
									<td data-label="Status">Works</td>
									<td data-label="Information">Some devices utilize blobs for NFC</td>
								</tr>
								<tr style="--table-body-fore-color: #4CAF50;">
									<td data-label="Name">Proximity Sensor</td>
									<td data-label="Status">Works</td>
									<td data-label="Information">No blobs are required for the proximity sensor</td>
								</tr>
								<tr style="--table-body-fore-color: #4CAF50;">
									<td data-label="Name">Wi-Fi</td>
									<td data-label="Status">Works</td>
									<td data-label="Information">Some devices utilize blobs for Wi-Fi</td>
								</tr>
								<tr style="--table-body-fore-color: #FFC107;">
									<td data-label="Name">Wireless Charging</td>
									<td data-label="Status">Depends</td>
									<td data-label="Information">All Qualcomm WiPower blobs are removed, newer devices utilizing WiPower will not work</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="section" id="software">
						<h3>Software Features<a href="#software">¶</a></h3>
						<table class="striped" style="max-height: 100%;">
							<thead>
								<tr>
									<th>Name</th>
									<th>Status</th>
									<th>Information</th>
								</tr>
							</thead>
							<tbody>
								<tr style="--table-body-fore-color: #f44336;">
									<td data-label="Name">AudioFX</td>
									<td data-label="Status">Does not work</td>
									<td data-label="Information">Many AudioFX blobs are removed</td>
								</tr>
								<tr style="--table-body-fore-color: #f44336;">
									<td data-label="Name">Chromecast</td>
									<td data-label="Status">Does not work</td>
									<!--<td data-label="Information">Details here: <a href="https://github.com/microg/android_packages_apps_GmsCore/issues/79" target="_blank" rel="nofollow noopener noreferrer">microG Issue #79</a></td>-->
									<td data-label="Information">No Play Services</td>
								</tr>
								<tr style="--table-body-fore-color: #673AB7;">
									<td data-label="Name">Device Encryption</td>
									<td data-label="Status">Works</td>
									<td data-label="Information">Some TrustZone/Keystore blobs are removed</td>
								</tr>
								<tr style="--table-body-fore-color: #4CAF50;">
									<td data-label="Name">DRM/HDCP</td>
									<td data-label="Status">Does not work</td>
									<td data-label="Information">All DRM and HDCP blobs are removed</td>
								</tr>
								<tr style="--table-body-fore-color: #f44336;">
									<td data-label="Name">Google SafetyNet</td>
									<!--<td data-label="Status">Depends</td>-->
									<td data-label="Status">Does not work</td>
									<!--<td data-label="Information">Details here: <a href="https://github.com/microg/android_packages_apps_GmsCore/issues/181#issuecomment-249911345" target="_blank" rel="nofollow noopener noreferrer">microG Issue #181</a></td>-->
									<td data-label="Information">No Play Services</td>
								</tr>
								<tr style="--table-body-fore-color: #673AB7;">
									<td data-label="Name">IMS/VoLTE</td>
									<td data-label="Status">Works</td>
									<td data-label="Information">Select IMS blobs are removed, but is kept working</td>
								</tr>
								<tr style="--table-body-fore-color: #f44336;">
									<td data-label="Name">Qualcomm aptX</td>
									<td data-label="Status">Does not work</td>
									<td data-label="Information">All aptX blobs are removed</td>
								</tr>
								<tr style="--table-body-fore-color: #f44336;">
									<td data-label="Name">RCS</td>
									<td data-label="Status">Does not work</td>
									<td data-label="Information">All RCS blobs are removed</td>
								</tr>
								<tr style="--table-body-fore-color: #4CAF50;">
									<td data-label="Name">Tethering (BT/USB/Wi-Fi)</td>
									<td data-label="Status">Works</td>
									<td data-label="Information">No blobs are required for Tethering</td>
								</tr>
								<tr style="--table-body-fore-color: #3498db;">
									<td data-label="Name">Wireless Display</td>
									<td data-label="Status">Unknown</td>
									<td data-label="Information">There are many different protocols. All Qualcomm Wireless Display blobs are removed.</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="section" id="apps">
						<h3>Apps<a href="#apps">¶</a></h3>
						<table class="striped" style="max-height: 100%;">
							<thead>
								<tr>
									<th>Name</th>
									<th>Status</th>
									<th>Information</th>
								</tr>
							</thead>
							<tbody>
								<tr style="--table-body-fore-color: #3498db;">
									<td data-label="Name">Amazon Music</td>
									<td data-label="Status">Untested: Potentially Works</td>
									<td data-label="Information">Amazon Prime Video relies on Google's Widevine DRM</td>
								</tr>
								<tr style="--table-body-fore-color: #3498db;">
									<td data-label="Name">Apple Music</td>
									<td data-label="Status">Untested: Potentially Works</td>
									<td data-label="Information">Some iTunes content is protected using Apple's FairPlay DRM, the streaming might be as well</td>
								</tr>
								<tr style="--table-body-fore-color: #4CAF50;">
									<td data-label="Name">Google Play Music</td>
									<td data-label="Status">Works</td>
									<td data-label="Information">Doesn't rely on DRM. Tested July 13th, 2017.</td>
								</tr>
								<tr style="--table-body-fore-color: #f44336;">
									<td data-label="Name">Netflix</td>
									<td data-label="Status">Broken</td>
									<td data-label="Information">Relies on Google's Widevine DRM</td>
								</tr>
								<tr style="--table-body-fore-color: #4CAF50;">
									<td data-label="Name">Pandora</td>
									<td data-label="Status">Works</td>
									<td data-label="Information">Doesn't rely on DRM</td>
								</tr>
								<tr style="--table-body-fore-color: #f44336;">
									<td data-label="Name">Spotify</td>
									<td data-label="Status">Broken</td>
									<td data-label="Information">Relies on Google's Widevine DRM</td>
								</tr>
								<tr style="--table-body-fore-color: #4CAF50;">
									<td data-label="Name">Soundcloud</td>
									<td data-label="Status">Works</td>
									<td data-label="Information">Doesn't rely on DRM</td>
								</tr>
								<tr style="--table-body-fore-color: #4CAF50;">
									<td data-label="Name">Square Point of Sale</td>
									<td data-label="Status">Works</td>
									<td data-label="Information">Doesn't rely on Google SafetyNet</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
