<?php
//Copyright (c) 2017-2021 Divested Computing Group
//
//This program is free software: you can redistribute it and/or modify
//it under the terms of the GNU Affero General Public License as published by
//the Free Software Foundation, either version 3 of the License, or
//(at your option) any later version.
//
//This program is distributed in the hope that it will be useful,
//but WITHOUT ANY WARRANTY; without even the implied warranty of
//MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//GNU Affero General Public License for more details.
//
//You should have received a copy of the GNU Affero General Public License
//along with this program.  If not, see <https://www.gnu.org/licenses/>.

	function getRedis() {
		if(isset($GLOBALS['redisSingleton'])) {
			return $GLOBALS['redisSingleton'];
		}
		if(extension_loaded("redis")) {
			$GLOBALS['redisSingleton'] = new Redis();
			$GLOBALS['redisSingleton']->connect('127.0.0.1');
			return $GLOBALS['redisSingleton'];
		}
	}

	function closeRedis() {
		if(isset($GLOBALS['redisSingleton']) && extension_loaded("redis")) {
			$GLOBALS['redisSingleton']->close();
			unset($GLOBALS['redisSingleton']);
		}
	}

	function getDownloads($version) {
		$base = noHTML($_GET["base"]);
		if(is_null($base) || strlen($base) == 0 || !(substr_count($base, '/') == 0)) {
			error();
			return;
		}

		$rootdir = "/builds/" . $base . "/";
		$realRootdir = $_SERVER['DOCUMENT_ROOT'] . $rootdir;
		if(!(is_dir($realRootdir))) {
			error();
			return;
		}

		$devices = scandir($realRootdir, 0);
		if(sizeof($devices) == 2) {
			print("No devices available for base");
			return;
		}

		print(getCachedDevices($base, $rootdir, $realRootdir, $devices, $version));
	}

	function getCachedDevices($base, $rootdir, $realRootdir, $devices, $version) {
		if(extension_loaded("redis")) {
			$result = "";
			$cacheKey = "DivestOS+devices.php+base:" . $base . "+version:" . $version;
			if(($result = getRedis()->get($cacheKey)) == false) {
				$result = getDevices($base, $rootdir, $realRootdir, $devices, $version);
				getRedis()->setEx($cacheKey, 7200, $result); //2 hours
			}
			return $result;
		} else {
			return getDevices($base, $rootdir, $realRootdir, $devices, $version);
		}
	}

	function getDevices($base, $rootdir, $realRootdir, $devices, $version) {
		$downloads = "";
		$lastSecRelease = 1567728000; //The timestamp of when LineageOS merged the latest Android security bulletin patches, XXX: MUST BE MANUALLY UPDATED
		$curTime = time(); //Used to check if builds are older than 40 days as a fallback if the above isn't updated
		foreach ($devices as $device) {
			if(strlen($device) >= 2 && $device != '..') {
				$files = scandir($realRootdir . $device, 1);
				if(sizeof($files) > 5) {
					$zip = "";
					//Identify an existing image matching the device and version
					foreach ($files as $file) {
						if($file != "status" && $file != "friendlyName" && $file != "incrementals" && !contains($file, "md5sum") && !contains($file, "sha512sum") && strlen($file) > 30 && !startsWith($file, ".") && endsWith($file, ".zip") && !contains($file, "fastboot") && !contains($file, "recovery")) {
							$imageSplit = explode("-", $file);
							if(startsWith(strtolower($imageSplit[4]), $device) && ($imageSplit[1] == $version)) {
								if(strlen($file) > 30) {
									$zip = $file;
									$downloadButtons = "<a href=\"/mirror.php?base=" . $base . "&f=" . $device . "/" . $file . "\" download=\"" . $file . "\" value=\"/mirror.php?base=" . $base . "&f=" . $device . "/" . $file . "\" class=\"button primary rom-unknown\" onMouseOver=\"this.style.backgroundColor='#COLOUR'\" onMouseOut=\"this.style.backgroundColor='var(--button-back-color)'\">Download</a>";
									if(file_exists($realRootdir . $device . "/" .$file . ".sha512sum")) {
										$downloadButtons .= "<a href=\"/builds/" . $base . "/" . $device . "/" . $file . ".sha512sum\" download class=\"button inverse small\">512sum</a>";
									}
									$latestFileTime = filemtime($realRootdir . $device . "/" .$file);
									$trueName = explode(".", $imageSplit[4])[0];
									break;
								}
							}
							unset($imageSplit);
						}
					}
					unset($file);

					//We have an image, get the other goodies
					if(strlen($zip) > 30) {
						//Output the recovery.img if it exists
						$recovery = str_replace(".zip", "-recovery.img", $zip);
						if(strlen($recovery) > 36 && file_exists($realRootdir . $device . "/" . $recovery)) {
							$downloadButtons .= "<br><a href=\"/mirror.php?base=" . $base . "&f=" . $device . "/" . $recovery . "\" download=\"" . $recovery . "\" class=\"button teritary\">Recovery</a>";
							if(file_exists($realRootdir . $device . "/" . $recovery . ".sha512sum")) {
								$downloadButtons .= "<a href=\"/builds/" . $base . "/" . $device . "/" . $recovery . ".sha512sum\" download class=\"button inverse small\">512sum</a>";
							}
						}
						unset($recovery);

						//Output the fastboot.zip if it exists
						$fastboot = str_replace(".zip", "-fastboot.zip", $zip);
						if(strlen($fastboot) > 36 && file_exists($realRootdir . $device . "/" . $fastboot)) {
							$downloadButtons .= "<br><a href=\"/mirror.php?base=" . $base . "&f=" . $device . "/" . $fastboot. "\" download=\"" . $fastboot . "\" class=\"button teritary\">Fastboot</a>";
							if(file_exists($realRootdir . $device . "/" . $fastboot . ".sha512sum")) {
								$downloadButtons .= "<a href=\"/builds/" . $base . "/" . $device . "/" . $fastboot . ".sha512sum\" download class=\"button inverse small\">512sum</a>";
							}
						}
						unset($fastboot);

						if(file_exists($realRootdir . $device . "/avb_pkmd.bin")) { //Output the avb_pkmd.bin if it exists
							$downloadButtons .= "<br><a href=\"/builds/" . $base . "/" . $device . "/avb_pkmd.bin\" download class=\"button inverse small\">AVB key</a>";
						}

						//Create the status message
						$outdated = !(($latestFileTime >= $lastSecRelease) && (($curTime - $latestFileTime) <= 3456000));
						$statusFileGeneric = $realRootdir . $device . "/status";
						$statusFileVersioned = $statusFileGeneric . "-" . $version;
						if(file_exists($statusFileVersioned)) {
							$statusFile = $statusFileVersioned;
						} else if(file_exists($statusFileGeneric)) {
							$statusFile = $statusFileGeneric;
						}
						unset($statusFileGeneric); unset($statusFileVersioned);
						list($color, $statusMessage) = getStatus(file_get_contents($statusFile), $outdated);
						unset($statusFile);
						unset($outdated);
						$status = "<li style=\"color: #" . $color . ";\">Status: " . $statusMessage . "</li>";
						if($color === "4CAF50") {
							$downloadButtons = str_replace("rom-unknown", "rom-working", $downloadButtons);
						}
						$downloadButtons = str_replace("COLOUR", $color, $downloadButtons);
						unset($color);

						//Output the bootloader information
						$bootloaderInformationFile = $realRootdir . $device . "/bootloader_information";
						if(file_exists($bootloaderInformationFile)) {
							$bootloaderInformationArr = file($bootloaderInformationFile);
							$bootloaderInformation = "<li>Unlock Method: " . $bootloaderInformationArr[0] . "</li><li>Relockable: " . $bootloaderInformationArr[1] . "</li><li>Verified Boot: " . $bootloaderInformationArr[2] . "</li>";
							unset($bootloaderInformationArr);
						}
						unset($bootloaderInformationFile);

						//Updater check count
						if(extension_loaded("redis")) {
							$updateCounter = getRedis()->get("Counter-DivestOS+updater.php+base:" . $base . "+device:" . $device);
							if($updateCounter > 0) {
								$updateCount = "<li>Updater checks past " . humanTiming(getRedis()->get("DivestOS+updater.php+uptime")) . ": " . $updateCounter . "</li>";
							}
							unset($updateCounter);
						}

						//Output the card
						$downloads .= "<div class=\"card centero\" id=\"device-" . $device . "\">";
						$name = $trueName;
						$friendlyNamePath = $realRootdir . $device . "/friendlyName";
						if(file_exists($friendlyNamePath)) {
							$name = $trueName . "<small>" . file_get_contents($friendlyNamePath) . "</small>";
						}
						$downloads .= "<h3><a style=\"color: inherit; text-decoration: none;\" href=\"#device-" . $device . "\">" . $name . "</a></h3>";
						unset($name);
						$downloads .= "<p><a href=\"https://wiki.lineageos.org/devices/" . $trueName . "\" target=\"_blank\" rel=\"nofollow noopener noreferrer\">Device Info</a> and <a href=\"https://wiki.lineageos.org/devices/" . $trueName . "/install\" target=\"_blank\" rel=\"nofollow noopener noreferrer\">Install Guide</a></p>";
						$downloads .= "<ul>";
						$downloads .= $status;
						unset($status);
						$downloads .= $bootloaderInformation;
						unset($bootloaderInformation);
						$downloads .= "<li>Last updated: " . humanTiming($latestFileTime) . "</li>";
						$downloads .= $updateCount;
						unset($updateCount);
						$downloads .= "</ul><hr>";
						$downloads .= $downloadButtons;
						$downloads .= "</div>";
					}
					unset($zip); unset($downloadButtons); unset($latestFileTime); unset($trueName);
				}
				unset($files);
			}
			unset($device);
		}
		return $downloads;
	}

	function getStatus($status, $outdated) {
		$color = "03A9F4";
		$message = "Unknown";
		if(!($status === false)) {
			switch($status) {
				case 0:
					$color = "4CAF50";
					$message = "Tested Working";
					break;
				case 5:
					$color = "673AB7";
					$message = "Mostly Works";
					break;
				case 1:
					$color = "f44336";
					$message = "Broken";
					break;
				case 2:
					$color = "FFC107";
					$message = "Untested";
					break;
				case 4:
					$color = "FFC107";
					$message = "Likely Works";
					break;
				case 3:
					$color = "673AB7";
					$message = "Untested (Experimental)";
					break;

			}
		}
		if($outdated) {
			$color = "f44336";
			$message = $message . " and Outdated";
		}
		return array($color, $message);
	}

	function error() {
		print("Invalid base!");
		http_response_code(400);
	}

?>
				<div class="card fluid">
					<h2>Device Downloads</h2>
					<p>Releases are typically done on a monthly schedule unless there are major or security related changes.<br>Please only download what you need, server bandwidth is limited.</p>
					<div class="section">
						<div class="row">
							<div class="card centero large" id="disclaimer">
								<h3>Disclaimer<a href="#disclaimer">¶</a></h3>
								<p>Rarely will these builds be fully tested as we don't have every device we build for, due to that these are provided without warranty and can damage your device. We are not liable for any damage done by using these, and you yourself will be at fault.</p>
							</div>
							<div class="card centero large" id="root">
								<h3>Root<a href="#root">¶</a></h3>
								<p>These are 'user' builds, root is not included. It is not recommended to flash any other zips alongside our builds. Root frameworks and runtime modification frameworks will severely decrease the security of your device.</p>
							</div>
							<div class="card centero large" id="signing">
								<h3>Signed Builds<a href="#signing">¶</a></h3>
								<p>All builds published are signed with our signing keys, unlike other ROMs that simply use test-keys. This means that when switching to or away from our builds, you will be prompted to wipe /data.</p>
							</div>
							<div class="card centero large" id="contribute">
								<h3>Contribute<a href="#contribute">¶</a></h3>
								<p>Please consider contributing in the form of testing, promoting, bug reports, code review, merge requests, translations, mirrors, and financially to ensure the project's longevity.</p>
								<a href="https://divested.dev/donate" class="button primary" target="_blank" rel="nofollow noopener noreferrer">Donate</a>
							</div>
						</div>
					</div>
					<div class="section">
						<div class="row">
							<div class="card centero large" id="verify">
						<h3>Verification<a href="#verify">¶</a></h3>
						<p>All files available below have a corresponding GPG signed .sha512sum file available. This can be used to verify builds have not been tampered with by this server or in transit.
<pre><code>
#B874 4D67 F9F1 E14E 145D  FD8E 7F62 7E92 0F31 6994
gpg --import divestos_signing.key;
gpg --verify divested*sha512sum;
sha512sum -c divested*sha512sum;
</code></pre>
<a href="/divestos_signing.key" download class="button primary" target="_blank">GPG Public Key</a><br><a href="https://gitlab.com/divested-mobile/divestos-website/-/raw/master/divestos_signing.key" download class="button" target="_blank" rel="nofollow noopener noreferrer">Mirror 1</a><a href="https://raw.githubusercontent.com/Divested-Mobile/divestos-website/master/divestos_signing.key" download class="button" target="_blank" rel="nofollow noopener noreferrer">Mirror 2</a><a href="https://forum.f-droid.org/t/divestos-an-aftermarket-system/10105/12" class="button" target="_blank" rel="nofollow noopener noreferrer">Mirror 3</a></p>
							</div>
						</div>
					</div>
					<div class="section hidden" id="nameYourPrice" style="text-align: center;">
						<h3><strong>Name Your Price</strong></h3>
						<input type="radio" id="radPriceFree" name="radPrice" checked>
						<label for="radPriceFree" id="lblPriceFree">FREE</label><br>
						<input type="radio" id="radPriceOne" name="radPrice">
						<label for="radPriceOne">$1</label><br>
						<input type="radio" id="radPriceFive" name="radPrice">
						<label for="radPriceFive">$5</label><br>
						<input type="radio" id="radPriceTen" name="radPrice">
						<label for="radPriceTen">$10</label><br>
						<input type="radio" id="radPriceFifteen" name="radPrice">
						<label for="radPriceFifteen">$15</label><br>
						<p id="lblThanks" hidden>Thank you for your contribution!</p>
					</div>
					<?php if(noHTML($_GET["base"]) === "LineageOS") : ?>
					<div class="section" id="devices">
						<h2 class="centero">18.1 / 11.0 / R</h2>
						<p class="centero"><mark class="secondary">In-Place upgrades to 18.1 on the following devices devices require a wipe due to their legacy keystore support being removed:</mark><br><mark class="secondary">bacon, clark, crackling, d852, d855, flox, fp2, m8, mako, shamu, victara</mark></p>
						<div class="row" style="text-align: center;">
							<?php getDownloads("18.1"); ?>
						</div>
						<hr>
						<h2 class="centero">17.1 / 10.0 / Q</h2>
						<div class="row" style="text-align: center;">
							<?php getDownloads("17.1"); ?>
						</div>
						<hr>
						<h2 class="centero">16.0 / 9.0 / Pie</h2>
						<div class="row" style="text-align: center;">
							<?php getDownloads("16.0"); ?>
						</div>
						<hr>
						<h2 class="centero">15.1 / 8.1.0 / Oreo / END OF LIFE</h2>
						<div class="row" style="text-align: center;">
							<?php getDownloads("15.1"); ?>
						</div>
						<hr>
						<h2 class="centero">14.1 / 7.1.2 / Nougat / END OF LIFE</h2>
						<div class="row" style="text-align: center;">
							<?php getDownloads("14.1"); ?>
						</div>
						<hr>
						<h2 class="centero">11.0 / 4.4.4 / KitKat / END OF LIFE / DEPRECATED</h2>
						<div class="row" style="text-align: center;">
							<?php getDownloads("11.0"); ?>
						</div>
					</div>
					<?php else : ?>
						<h2>Invalid base!</h2>
					<?php endif; ?>
					<?php closeRedis(); ?>
				</div>

				<!--<script defer type="text/javascript" src="/assets/js/purchase.js" integrity="sha384-OAZV2KpYfERtCMcmejXpc54p2QROsxz6JCMKdufjS6/oxFuEpapPGnxwUd6uz6dW"></script>
				<script defer type="text/javascript" src="/assets/js/donate-devices.js" integrity="sha384-jjbr2aTMPOhu6cDDXgIa4uvvx6I/6975IVhCvczEQqWxHvSD5sZkelnS5f2Xj0sY"></script>-->
