				<div class="card fluid" id="historical">
					<h2>Historical Recap<a href="#historical">¶</a></h2>
					<ul>
						<li>2021/10/01: Mulch WebView was created for enhanced security and faster updates.</li>
						<li>2021/08/23: Out-of-band WebView updates via an F-Droid repository were made available for rapid security patching in-between build cycles.</li>
						<li>2021/07/10: Added many Linux 3.4 CVE patches thanks to @haggertk.</li>
						<li>2021/05/04: Hypatia was translated into Russian thanks to @q1011.</li>
						<li>2021/03/24: Hypatia was translated into Portuguese thanks to @inkhorn.</li>
						<li>2021/03/23: Initial support for building on top of LineageOS 18.1.</li>
						<li>2021/03/20: Hypatia was translated into Spanish thanks to Petra Mirelli.</li>
						<li>2021/03/09: Hypatia was translated into Italian thanks to @dantecpu.</li>
						<li>2021/02/21: Hypatia was translated into French thanks to Jean-Luc Tibaux and Petra Mirelli.</li>
						<li>2021/02/03: Added many Linux 3.10 CVE patches thanks to @cygwin.</li>
						<li>2021/02/02: Hypatia was translated into German thanks to Petra Mirelli.</li>
						<li>2021/01/24: Many Linux CVE patches were imported as part two of the Debian retired tracker import.</li>
						<li>2020/12/24: The website gained support for serving multiple builds versions for a device.</li>
						<li>2020/12/21: VoLTE support was unbroken.</li>
						<li>2020/12/21: The umask for the build scripts was adjusted, fixing many small issues.</li>
						<li>2020/12/11: All non-LTS Linux CVE patches were dropped from the repository.</li>
						<li>2020/11/06: Added many missing Linux CVE patches missed by the CIP scripts from Debian retired tracker.</li>
						<li>2020/10/22: Mull was rebased onto Fenix, based on top of much effort from Relan.</li>
						<li>2020/10/15: A critical issue was identified and resolved that affected many devices. It caused slow performance and boot issues. Originally introduced 2018/10/01.</li>
						<li>2020/10/11: Initial inclusion of Etar for Calendar.</li>
						<li>2020/10/06: Added many Linux 3.4 CVE patches thanks to @haggertk.</li>
						<li>2020/09/18: Added many Linux 3.18 CVE patches from the AOSP 3.18 branch using the CIP scripts.</li>
						<li>2020/08/07: Initial import of Linux CVE patches from the Civil Infrastructure Platform tracker.</li>
						<li>2020/06/17: The start of providing GPG signatures for all builds.</li>
						<li>2020/06/14: The CodeAurora CVE patch list was created.</li>
						<li>2020/06/12: DivestOS is publicly released, initially on the F-Droid Forum.</li>
						<li>2020/06/07: The AOSP CVE patch list was created.</li>
						<li>2020/04/14: Initial support for building on top of LineageOS 17.1.</li>
						<li>2019/10/18: Automated kernel hardening via command line arguments was introduced.</li>
						<li>2019/10/04: Initial import of Linux CVE patches from the Google Project Zero tracker.</li>
						<li>2019/09/25: Most signing keys were switched to RSA-4096.</li>
						<li>2019/09/13: Per-device signing keys were introduced.</li>
						<li>2019/08/28: Delta OTA support was introduced.</li>
						<li>2019/08/27: Image signing was overhauled.</li>
						<li>2019/08/05: Initial inclusion of OpenCamera and Simple Gallery.</li>
						<li>2019/07/05: IPv6 privacy extensions were enabled on all devices.</li>
						<li>2019/06/02: First versions to stop sending the IMSI to the SUPL, discovered by @MSe1969.</li>
						<li>2019/05/23: The .org was obtained.</li>
						<li>2019/05/13: Initial import of many Linux CVE patches from the Red Hat CVE tracker.</li>
						<li>2019/05/08: Initial work on restoring verified boot support in LineageOS began.</li>
						<li>2019/04/04: The GrapheneOS hardened memory allocator was included for use on supported devices.</li>
						<li>2019/03/12: PicoTTS was first patched to make it functional again.</li>
						<li>2019/03/04: Initial support for building on top of LineageOS 16.0.</li>
						<li>2019/03/04: Initial support for WireGuard was added.</li>
						<li>2019/02/02: The website is overhauled onto SBNR.</li>
						<li>2019/01/31: The Static But Not Really (SBNR) project is born out of the DivestOS website as a standalone minimal website framework.</li>
						<li>2018/12/18: Support for building on top of LineageOS 11.0 was restored and rebased.</li>
						<li>2018/10/20: Tor support was added to the OTA updater.</li>
						<li>2018/09/11: Filesystem discards were enabled on /data.</li>
						<li>2018/08/08: A-GPS MSA was disabled across all devices for increased privacy.</li>
						<li>2018/07/13: The vendor overlay was created for more easily applying select changes.</li>
						<li>2018/06/24: DivestOS finally received its own boot animation.</li>
						<li>2018/06/17: The provisioner repository was created for quickly installing recommended apps via F-Droid.</li>
						<li>2018/05/29: Initial import of Linux CVE patches from the Syzkaller tracker.</li>
						<li>2018/05/21: Analytics libraries were degraded by injecting AndroidManifest overrides.</li>
						<li>2018/05/13: The website is overhauled to use mini.css.</li>
						<li>2018/05/11: Malware scanning via ClamAV support was added to the build scripts.</li>
						<li>2018/04/28: Initial patches to support DNS66 loading defaults from system.</li>
						<li>2018/04/01: The proprietary LOSCoins malware was removed before ever being included in DivestOS.</li>
						<li>2018/03/13: The PrebuiltApps repo was created for including official/F-Droid builds of apps.</li>
						<li>2018/03/08: F-Droid signed-off on the inclusion of F-Droid into the system.</li>
						<li>2018/03/04: LineageOS signed-off on the re-branding being sufficient.</li>
						<li>2018/02/13: Initial support for building on top of LineageOS 15.1.</li>
						<li>2018/01/04: Very basic Spectre mitigations were automatically applied to 3.10 kernels.</li>
						<li>2018/01/03: Very basic Spectre mitigations were applied to Mull.</li>
						<li>2017/12/25: Mull came into existence.</li>
						<li>2017/12/13: Veritas, now called Hypatia, was created as the first FOSS real-time malware scanner for Android systems.</li>
						<li>2017/12/09: Automatic kernel hardening via defconfig overrides was introduced.</li>
						<li>2017/11/21: Initial work on building Firefox for Android without blobs began.</li>
						<li>2017/11/11: A script for deblobbing separate /firmware partitions was created.</li>
						<li>2017/11/10: Initial automatic applying of Linux incrementals.</li>
						<li>2017/11/07: Creation of our initial original Linux CVE patch list.</li>
						<li>2017/11/02: Initial versioning of CVE patches to reduce breakage.</li>
						<li>2017/10/30: Utilizing the new CVE patcher, all devices were mitigated against KRACK.</li>
						<li>2017/10/29: Introduction of automatic kernel CVE patching for all devices.</li>
						<li>2017/10/29: The CVE downloader/patcher project was created.</li>
						<li>2017/10/14: The repositories were re-licensed to GPLv3.</li>
						<li>2017/09/10: Extirpater saw its initial port to Android.</li>
						<li>2017/08/01: A commit references a patch made four years earlier? Not too sure about this one.</li>
						<li>2017/06/15: Silence was included in the images.</li>
						<li>2017/06/04: Start of work on automated kernel CVE patching.</li>
						<li>2017/06/04: The project was re-branded into DivestOS.</li>
						<li>2017/05/30: OTA updates became supported.</li>
						<li>2017/02/25: The dedicated website was created.</li>
						<li>2017/01/25: The first revision of our automated deblobber was created.</li>
						<li>2017/01/04: Public images were discontinued again.</li>
						<li>2016/12/27: Work starts on rebasing onto LineageOS from CyanogenMod.</li>
						<li>2016/12/21: The monorepo for what is now called DivestOS was created.</li>
						<li>2016/07/10: Earliest recorded date of removing the proprietary AmbientSDK malware from our CyanogenMod 13.0 builds.</li>
						<li>2016/04/26: The recommended apps lists was released as a Gist on GitHub.</li>
						<li>2016/03/19: Public images return, supporting 8 devices.</li>
						<li>2016/03/03: Earliest recorded date of our UnifiedNlp backend, MergedWiFiNLP, utilizing simple CSV files.</li>
						<li>2016/01/01: Public images were discontinued.</li>
						<li>2015/11/20: First builds signed using proper release-keys.</li>
						<li>2015/11/19: A PaX enabled kernel is successfully booted on bacon, based on work and with help from Daniel Micay.</li>
						<li>2015/04/01: Our first CyanogenMod 12.1 based images made available.</li>
						<li>2014/12/31: The earliest recorded date of publicly offering custom images. They were based off of CyanogenMod 12 and available for five devices.</li>
					</ul>
					<p><a href="https://web.archive.org/web/*/https://divestos.org/*" target="_blank" rel="nofollow noopener noreferrer">divestos.org on the Wayback Machine</a>
					<br><a href="https://web.archive.org/web/*/https://divestos.xyz/*" target="_blank" rel="nofollow noopener noreferrer">divestos.xyz on the Wayback Machine</a></p>
				</div>
