				<div class="card fluid" style="text-align: center;">
					<?php if($saveData === false) : ?>
					<div class="card large"><img class="section media" style="height:auto;" src="images/Tri_Mako-By_Victor_Stuber-Small.png" title="Nexus 4 Mockup Copyright (c) 2013 Victor Stuber" alt="Nexus 4 Mockups with screenshots of DivestOS" integrity="sha384-v6gCuHmA7tq/mG9jW5hvzQOqdZarKlW8BF5UEsRPIiVH3cJKlahc2oq4HNaTAtuB"/></div>
					<?php endif; ?>
					<h2>Key Features</h2>
					<p>DivestOS is an <em>unofficial soft fork</em> of <a href="https://lineageos.org" target="_blank" rel="nofollow noopener noreferrer">LineageOS</a>.</p>
					<div class="row">
						<div class="card centero large" id="updates">
							<h3>Monthly Updates<a href="#updates">¶</a></h3>
							<p>All devices supported by DivestOS receive <a href="index.php?page=patch_levels">monthly</a> security updates. Select devices support incremental updates for even quicker updates.</p>
						</div>
						<div class="card centero large" id="foss">
							<h3>FOSS Focused<a href="#foss">¶</a></h3>
							<p>DivestOS ensures to uphold the <a href="https://www.gnu.org/philosophy/free-sw.html" target="_blank" rel="nofollow noopener noreferrer">four freedoms</a> of free software through and through. We also encourage and help other projects in this space to re-use our work.</p>
						</div>
					</div>
					<div class="row">
						<div class="card centero large" id="deblobbed">
							<h3>Deblobbed<a href="#deblobbed">¶</a></h3>
							<p>Over 700 proprietary blobs are <a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/Common/Deblob.sh" target="_blank" rel="nofollow noopener noreferrer">removed</a> during build time. Removal of these proprietary blobs increase security by reducing attack surface and increase privacy by removing untrusted code.</p>
						</div>
						<div class="card centero large" id="security">
							<h3>Increased Security<a href="#security">¶</a></h3>
							<p>One of the biggest issues when it comes to aftermarket ROMs is the Linux kernel not being patched against known vulnerabilities. We've developed an automated patch <a href="https://gitlab.com/divested-mobile/cve_checker" target="_blank" rel="nofollow noopener noreferrer">checker</a> that is able to apply fixes for over <a href="https://gitlab.com/divested-mobile/kernel_patches/-/raw/master/Kernel_CVE_Patch_List.txt" target="_blank" rel="nofollow noopener noreferrer">2,900</a> CVEs. Furthermore, bootloader relocking and verified boot is made available for capable devices.</p>
						</div>
						<div class="card centero large" id="privacy">
							<h3>Increased Privacy<a href="#privacy">¶</a></h3>
							<p>A custom <a href="https://divested.dev/index.php?page=dnsbl" target="_blank" rel="nofollow noopener noreferrer">hosts</a> file created by <a href="https://gitlab.com/divested/DNSBLFilter" target="_blank" rel="nofollow noopener noreferrer">analyzing</a> over 180 million domains is included that blocks over 200,000 advertising and tracking servers. In addition LineageOS's built in analytics service, <a href="https://github.com/LineageOS/android_packages_apps_LineageParts/tree/lineage-17.1/src/org/lineageos/lineageparts/lineagestats" target="_blank" rel="nofollow noopener noreferrer">CMStats</a>, is also removed.</p>
						</div>
						<div class="card centero large" id="extirpater">
							<h3>Free Space Eraser<a href="#extirpater">¶</a></h3>
							<p>Extirpater is the first free space eraser for Android. It helps prevent deleted files from being recovered. Perfect for migrating from an unencrypted install or before selling your device.</p>
						</div>
						<div class="card centero large" id="hypatia">
							<h3>Malware Scanner<a href="#hypatia">¶</a></h3>
							<p>We created Hypatia, the first ever open source real-time malware scanner for Android. Backed by the standard and trusted <a href="https://www.clamav.net/" target="_blank" rel="nofollow noopener noreferrer">ClamAV</a> signatures, it can detect over 450,000 malware signatures.</p>
						</div>
						<div class="card centero large" id="mull">
							<h3>Privacy Oriented Browser<a href="#mull">¶</a></h3>
							<p>Mull is a browser based on Mozilla technology that is hardened against advanced fingerprinting techniques thanks to the <a href="https://wiki.mozilla.org/Security/Tor_Uplift" target="_blank" rel="nofollow noopener noreferrer">Tor uplift project</a> and <a href="https://github.com/arkenfox/user.js" target="_blank" rel="nofollow noopener noreferrer">arkenfox-user.js project</a>.</p>
						</div>
						<div class="card centero large" id="fdroid">
							<h3>F-Droid Included<a href="#fdroid">¶</a></h3>
							<p><a href="https://f-droid.org" target="_blank" rel="nofollow noopener noreferrer">F-Droid</a> is an app catalogue that specializes in delivery of FOSS apps. For the most part all apps available through F-Droid respect your privacy and device.</p>
						</div>
						<!--<div class="card centero large" id="microg">
							<h3>microG Included<a href="#microg">¶</a></h3>
							<p><a href="https://github.com/microG" target="_blank" rel="nofollow noopener noreferrer">microG</a> is a FOSS reimplementation of the proprietary Google Play Services framework that many proprietary apps rely on. In the case that you need to run one of these apps, you can do so without completely exposing yourself to Google.</p>
						</div>-->
						<div class="card centero large" id="unifiednlp">
							<h3>UnifiedNlp Included<a href="#unifiednlp">¶</a></h3>
							<p><a href="https://github.com/microg/android_packages_apps_UnifiedNlp" target="_blank" rel="nofollow noopener noreferrer">UnifiedNlp</a> is a plugin based Fused location provider. This allows you to enable plugins that can access various offline or online databases to determine your location in a battery saving way without GPS.</p>
						</div>
						<div class="card centero large" id="silence">
							<h3>Silence Included<a href="#silence">¶</a></h3>
							<p><a href="https://silence.im" target="_blank" rel="nofollow noopener noreferrer">Silence</a>, a SMS only fork of Signal, is substituted in place of the default AOSP app. It allows for end-to-end encrypted messages to other Silence users without Internet access.</p>
						</div>
					</div>
				</div>
