				<div class="card fluid">
					<h2>Messenger Comparison Table</h2>
					<p>This is not intended to be an extremely comprehensive list, but enough to get a grasp on the situation.</p>
					<p>DivestOS includes Silence, a SMS only fork of Signal, it allows sending encrypted SMS messages to other users of Silence. It is not however recommended for use as your primary messaging client, and is there more as a fallback. The only client for now that we recommend is Conversations, a top notch XMPP client, fully supports the OMEMO XEP, is easy on the battery, and doesn't force you into a walled garden. It is not the easiest thing getting your friends and family to switch apps, so at the very least any apps with end-to-end encryption support should always be preferred over apps without.</p>
					<p>As noted below the Signal protocol (double ratchet) is the current gold standard for end-to-end asynchronous messaging encryption.</p>
					<div class="section">
						<table class="striped horizontal" style="max-height: 100%;">
							<thead>
								<tr>
									<th>Name</th>
									<th>FOSS Client</th>
									<th>Non-Free Dependencies</th>
									<th>FOSS Server</th>
									<th>Protocol</th>
									<th>Federated</th>
									<th>Decentralized</th>
									<th>Encryption</th>
									<th>Encrypted by Default</th>
									<th>Battery Drain</th>
									<th>Data Usage</th>
									<th>Desktop Client</th>
									<th>File Sharing</th>
									<th>Voice Calling</th>
									<th>Video Calling</th>
									<th>Multi-Device Support</th>
									<th>Offline Messaging</th>
									<!-- TODO: Audited?, Leaky?, Track Record, Origin Country -->
									<!-- TODO: Mumble, Discord, Slack, RocketChat -->
								</tr>
							</thead>
							<tbody>
								<tr>
									<td data-label="Name">Conversations</td>
									<td data-label="FOSS Client" style="color:#4CAF50;">GPLv3</td>
									<td data-label="Non-Free Dependencies" style="color:#4CAF50;">No</td>
									<td data-label="FOSS Server" style="color:#4CAF50;">Yes</td>
									<td data-label="Protocol">XMPP</td>
									<td data-label="Federated" style="color:#4CAF50;">Yes</td>
									<td data-label="Decentralized" style="color:#4CAF50;">Yes</td>
									<td data-label="Encryption" style="color:#4CAF50;">TLS + OMEMO (Double Ratchet) E2E</td>
									<td data-label="Encrypted by Default" style="color:#FFC107;">To contacts with OMEMO</td>
									<td data-label="Battery Drain" style="color:#4CAF50;">Minimal</td>
									<td data-label="Data Usage" style="color:#4CAF50;">Minimal</td>
									<td data-label="Desktop Client" style="color:#4CAF50;">Yes</td>
									<td data-label="File Sharing" style="color:#4CAF50;">Yes</td>
									<td data-label="Voice Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Video Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Multi-Device Support">Yes</td>
									<td data-label="Offline Messaging">Yes</td>
								</tr>
								<tr>
									<td data-label="Name">Element/Riot</td>
									<td data-label="FOSS Client" style="color:#4CAF50;">Apache</td>
									<td data-label="Non-Free Dependencies" style="color:#4CAF50;">No</td>
									<td data-label="FOSS Server" style="color:#4CAF50;">Yes</td>
									<td data-label="Protocol">Matrix</td>
									<td data-label="Federated" style="color:#4CAF50;">Yes</td>
									<td data-label="Decentralized" style="color:#4CAF50;">Yes</td>
									<td data-label="Encryption" style="color:#4CAF50;">TLS + Olm (Double Ratchet) E2E</td>
									<td data-label="Encrypted by Default" style="color:#f44336;">Not yet</td>
									<td data-label="Battery Drain">?</td>
									<td data-label="Data Usage">?</td>
									<td data-label="Desktop Client" style="color:#4CAF50;">Yes</td>
									<td data-label="File Sharing" style="color:#4CAF50;">Yes</td>
									<td data-label="Voice Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Video Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Multi-Device Support">Yes</td>
									<td data-label="Offline Messaging">Yes</td>
								</tr>
								<tr>
									<td data-label="Name">Signal</td>
									<td data-label="FOSS Client" style="color:#4CAF50;">GPLv3</td>
									<td data-label="Non-Free Dependencies" style="color:#f44336;">Yes, GMS</td>
									<td data-label="FOSS Server" style="color:#4CAF50;">Yes</td>
									<td data-label="Protocol">Custom</td>
									<td data-label="Federated" style="color:#f44336;">No</td>
									<td data-label="Decentralized">No</td>
									<td data-label="Encryption" style="color:#4CAF50;">TLS + Signal E2E</td>
									<td data-label="Encrypted by Default" style="color:#FFC107;">To contacts with Signal</td>
									<td data-label="Battery Drain">?</td>
									<td data-label="Data Usage">?</td>
									<td data-label="Desktop Client" style="color:#4CAF50;">Yes</td>
									<td data-label="File Sharing" style="color:#4CAF50;">Yes</td>
									<td data-label="Voice Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Video Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Multi-Device Support">With Phone</td>
									<td data-label="Offline Messaging">Yes</td>
								</tr>
								<tr>
									<td data-label="Name">Jami/Ring</td>
									<td data-label="FOSS Client" style="color:#4CAF50;">GPLv3</td>
									<td data-label="Non-Free Dependencies" style="color:#4CAF50;">No</td>
									<td data-label="FOSS Server" style="color:#4CAF50;">Yes</td>
									<td data-label="Protocol">Custom</td>
									<td data-label="Federated">N/A</td>
									<td data-label="Decentralized" style="color:#4CAF50;">Yes</td>
									<td data-label="Encryption" style="color:#4CAF50;">TLS + SRTP + Custom E2E</td>
									<td data-label="Encrypted by Default" style="color:#4CAF50;">Yes</td>
									<td data-label="Battery Drain" style="color:#f44336;">High</td>
									<td data-label="Data Usage">?</td>
									<td data-label="Desktop Client" style="color:#4CAF50;">Yes</td>
									<td data-label="File Sharing" style="color:#4CAF50;">Yes</td>
									<td data-label="Voice Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Video Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Multi-Device Support">Yes</td>
									<td data-label="Offline Messaging">No</td>
								</tr>
								<tr>
									<td data-label="Name">Briar</td>
									<td data-label="FOSS Client" style="color:#4CAF50;">GPLv3</td>
									<td data-label="Non-Free Dependencies" style="color:#4CAF50;">No</td>
									<td data-label="FOSS Server" style="color:#673AB7;">N/A</td>
									<td data-label="Protocol">Custom</td>
									<td data-label="Federated">N/A</td>
									<td data-label="Decentralized" style="color:#4CAF50;">Yes</td>
									<td data-label="Encryption" style="color:#4CAF50;">Custom E2E</td>
									<td data-label="Encrypted by Default" style="color:#4CAF50;">Yes</td>
									<td data-label="Battery Drain">?</td>
									<td data-label="Data Usage">?</td>
									<td data-label="Desktop Client" style="color:#f44336;">No</td>
									<td data-label="File Sharing" style="color:#FFC107;">Basic</td>
									<td data-label="Voice Calling" style="color:#f44336;">No</td>
									<td data-label="Video Calling" style="color:#f44336;">No</td>
									<td data-label="Multi-Device Support">No</td>
									<td data-label="Offline Messaging">No</td>
								</tr>
								<tr>
									<td data-label="Name">Silence</td>
									<td data-label="FOSS Client" style="color:#4CAF50;">GPLv3</td>
									<td data-label="Non-Free Dependencies" style="color:#4CAF50;">No</td>
									<td data-label="FOSS Server" style="color:#673AB7;">N/A</td>
									<td data-label="Protocol">SMS</td>
									<td data-label="Federated" style="color:#4CAF50;">Yes</td>
									<td data-label="Decentralized" style="color:#4CAF50;">Yes</td>
									<td data-label="Encryption" style="color:#4CAF50;">Signal E2E</td>
									<td data-label="Encrypted by Default" style="color:#FFC107;">To contacts with Silence</td>
									<td data-label="Battery Drain" style="color:#4CAF50;">Minimal</td>
									<td data-label="Data Usage" style="color:#4CAF50;">Minimal</td>
									<td data-label="Desktop Client" style="color:#f44336;">No</td>
									<td data-label="File Sharing" style="color:#FFC107;">Basic</td>
									<td data-label="Voice Calling" style="color:#f44336;">No</td>
									<td data-label="Video Calling" style="color:#f44336;">No</td>
									<td data-label="Multi-Device Support">No</td>
									<td data-label="Offline Messaging">Maybe?</td>
								</tr>
								<tr>
									<td data-label="Name">Xabber</td>
									<td data-label="FOSS Client" style="color:#4CAF50;">GPLv3</td>
									<td data-label="Non-Free Dependencies" style="color:#4CAF50;">No</td>
									<td data-label="FOSS Server" style="color:#4CAF50;">Yes</td>
									<td data-label="Protocol">XMPP</td>
									<td data-label="Federated" style="color:#4CAF50;">Yes</td>
									<td data-label="Decentralized">No</td>
									<td data-label="Encryption" style="color:#4CAF50;">TLS + OTR E2E</td>
									<td data-label="Encrypted by Default" style="color:#f44336;">No</td>
									<td data-label="Battery Drain" style="color:#4CAF50;">Low</td>
									<td data-label="Data Usage" style="color:#4CAF50;">Low</td>
									<td data-label="Desktop Client" style="color:#4CAF50;">Yes</td>
									<td data-label="File Sharing" style="color:#4CAF50;">Yes</td>
									<td data-label="Voice Calling" style="color:#f44336;">No</td>
									<td data-label="Video Calling" style="color:#f44336;">No</td>
									<td data-label="Multi-Device Support">Yes</td>
									<td data-label="Offline Messaging">Yes</td>
								</tr>
								<tr>
									<td data-label="Name">Telegram</td>
									<td data-label="FOSS Client" style="color:#4CAF50;">GPLv2</td>
									<td data-label="Non-Free Dependencies" style="color:#f44336;">Yes</td>
									<td data-label="FOSS Server" style="color:#f44336;">No</td>
									<td data-label="Protocol">Custom</td>
									<td data-label="Federated" style="color:#f44336;">No</td>
									<td data-label="Decentralized">No</td>
									<td data-label="Encryption" style="color:#4CAF50;">Custom E2E</td>
									<td data-label="Encrypted by Default" style="color:#f44336;">No</td>
									<td data-label="Battery Drain">?</td>
									<td data-label="Data Usage">?</td>
									<td data-label="Desktop Client" style="color:#4CAF50;">Yes</td>
									<td data-label="File Sharing" style="color:#4CAF50;">Yes</td>
									<td data-label="Voice Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Video Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Multi-Device Support">Yes</td>
									<td data-label="Offline Messaging">Yes</td>
								</tr>
								<tr>
									<td data-label="Name">Kontalk</td>
									<td data-label="FOSS Client" style="color:#4CAF50;">GPLv3</td>
									<td data-label="Non-Free Dependencies" style="color:#4CAF50;">No</td>
									<td data-label="FOSS Server" style="color:#4CAF50;">Yes</td>
									<td data-label="Protocol">XMPP</td>
									<td data-label="Federated" style="color:#4CAF50;">Yes</td>
									<td data-label="Decentralized" style="color:#4CAF50;">Yes</td>
									<td data-label="Encryption" style="color:#4CAF50;">TLS + OpenPGP E2E</td>
									<td data-label="Encrypted by Default" style="color:#4CAF50;">Yes</td>
									<td data-label="Battery Drain">?</td>
									<td data-label="Data Usage">?</td>
									<td data-label="Desktop Client" style="color:#4CAF50;">Yes</td>
									<td data-label="File Sharing" style="color:#4CAF50;">Yes</td>
									<td data-label="Voice Calling" style="color:#f44336;">No</td>
									<td data-label="Video Calling" style="color:#f44336;">No</td>
									<td data-label="Multi-Device Support">Yes</td>
									<td data-label="Offline Messaging">Yes</td>
								</tr>
								<tr>
									<td data-label="Name">Delta Chat</td>
									<td data-label="FOSS Client" style="color:#4CAF50;">GPLv3</td>
									<td data-label="Non-Free Dependencies" style="color:#4CAF50;">No</td>
									<td data-label="FOSS Server" style="color:#4CAF50;">Yes</td>
									<td data-label="Protocol">E-Mail</td>
									<td data-label="Federated" style="color:#4CAF50;">Yes</td>
									<td data-label="Decentralized" style="color:#4CAF50;">Yes</td>
									<td data-label="Encryption" style="color:#4CAF50;">TLS + OpenPGP E2E</td>
									<td data-label="Encrypted by Default" style="color:#FFC107;">To contacts with AutoCrypt</td>
									<td data-label="Battery Drain" style="color:#4CAF50;">Low</td>
									<td data-label="Data Usage" style="color:#4CAF50;">Minimal</td>
									<td data-label="Desktop Client" style="color:#4CAF50;">Yes</td>
									<td data-label="File Sharing" style="color:#4CAF50;">Yes</td>
									<td data-label="Voice Calling" style="color:#f44336;">No</td>
									<td data-label="Video Calling" style="color:#f44336;">No</td>
									<td data-label="Multi-Device Support">Yes</td>
									<td data-label="Offline Messaging">Yes</td>
								</tr>
								<tr>
									<td data-label="Name">Wire</td>
									<td data-label="FOSS Client" style="color:#4CAF50;">GPLv3</td>
									<td data-label="Non-Free Dependencies" style="color:#f44336;">Yes</td>
									<td data-label="FOSS Server" style="color:#4CAF50;">Yes</td>
									<td data-label="Protocol">Custom</td>
									<td data-label="Federated" style="color:#f44336;">No</td>
									<td data-label="Decentralized">No</td>
									<td data-label="Encryption" style="color:#4CAF50;">Custom E2E</td>
									<td data-label="Encrypted by Default" style="color:#4CAF50;">Yes</td>
									<td data-label="Battery Drain">?</td>
									<td data-label="Data Usage">?</td>
									<td data-label="Desktop Client" style="color:#4CAF50;">Yes</td>
									<td data-label="File Sharing" style="color:#4CAF50;">Yes</td>
									<td data-label="Voice Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Video Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Multi-Device Support">Yes</td>
									<td data-label="Offline Messaging">Yes</td>
								</tr>
								<tr>
									<td data-label="Name">Threema</td>
									<td data-label="FOSS Client" style="color:#4CAF50;">AGPLv3</td>
									<td data-label="Non-Free Dependencies" style="color:#f44336;">Yes</td>
									<td data-label="FOSS Server" style="color:#f44336;">No</td>
									<td data-label="Protocol">Custom</td>
									<td data-label="Federated" style="color:#f44336;">No</td>
									<td data-label="Decentralized">No</td>
									<td data-label="Encryption" style="color:#4CAF50;">Custom E2E</td>
									<td data-label="Encrypted by Default" style="color:#4CAF50;">Yes</td>
									<td data-label="Battery Drain">?</td>
									<td data-label="Data Usage">?</td>
									<td data-label="Desktop Client" style="color:#FFC107;">Web</td>
									<td data-label="File Sharing" style="color:#4CAF50;">Yes</td>
									<td data-label="Voice Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Video Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Multi-Device Support">Yes</td>
									<td data-label="Offline Messaging">Yes</td>
								</tr>
								<tr>
									<td data-label="Name">WhatsApp</td>
									<td data-label="FOSS Client" style="color:#f44336;">No</td>
									<td data-label="Non-Free Dependencies" style="color:#f44336;">Yes</td>
									<td data-label="FOSS Server" style="color:#f44336;">No</td>
									<td data-label="Protocol">Custom</td>
									<td data-label="Federated" style="color:#f44336;">No</td>
									<td data-label="Decentralized">No</td>
									<td data-label="Encryption" style="color:#4CAF50;">TLS + Signal E2E</td>
									<td data-label="Encrypted by Default" style="color:#4CAF50;">Yes</td>
									<td data-label="Battery Drain">?</td>
									<td data-label="Data Usage">?</td>
									<td data-label="Desktop Client" style="color:#FFC107;">Web</td>
									<td data-label="File Sharing" style="color:#4CAF50;">Yes</td>
									<td data-label="Voice Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Video Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Multi-Device Support">With Phone</td>
									<td data-label="Offline Messaging">Yes</td>
								</tr>
								<tr>
									<td data-label="Name">Facebook Messenger</td>
									<td data-label="FOSS Client" style="color:#f44336;">No</td>
									<td data-label="Non-Free Dependencies" style="color:#f44336;">Yes</td>
									<td data-label="FOSS Server" style="color:#f44336;">No</td>
									<td data-label="Protocol">Custom</td>
									<td data-label="Federated" style="color:#f44336;">No</td>
									<td data-label="Decentralized">No</td>
									<td data-label="Encryption" style="color:#4CAF50;">TLS + Signal E2E</td>
									<td data-label="Encrypted by Default" style="color:#f44336;">No</td>
									<td data-label="Battery Drain">?</td>
									<td data-label="Data Usage">?</td>
									<td data-label="Desktop Client" style="color:#FFC107;">Web</td>
									<td data-label="File Sharing" style="color:#4CAF50;">Yes</td>
									<td data-label="Voice Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Video Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Multi-Device Support">Yes</td>
									<td data-label="Offline Messaging">Yes</td>
								</tr>
								<tr>
									<td data-label="Name">Google Hangouts</td>
									<td data-label="FOSS Client" style="color:#f44336;">No</td>
									<td data-label="Non-Free Dependencies" style="color:#f44336;">Yes</td>
									<td data-label="FOSS Server" style="color:#f44336;">No</td>
									<td data-label="Protocol">Custom</td>
									<td data-label="Federated" style="color:#f44336;">No</td>
									<td data-label="Decentralized">No</td>
									<td data-label="Encryption" style="color:#673AB7;">TLS</td>
									<td data-label="Encrypted by Default" style="color:#f44336;">No</td>
									<td data-label="Battery Drain">?</td>
									<td data-label="Data Usage">?</td>
									<td data-label="Desktop Client" style="color:#FFC107;">Web</td>
									<td data-label="File Sharing" style="color:#4CAF50;">Yes</td>
									<td data-label="Voice Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Video Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Multi-Device Support">Yes</td>
									<td data-label="Offline Messaging">Yes</td>
								</tr>
								<tr>
									<td data-label="Name">Skype</td>
									<td data-label="FOSS Client" style="color:#f44336;">No</td>
									<td data-label="Non-Free Dependencies" style="color:#f44336;">Yes</td>
									<td data-label="FOSS Server" style="color:#f44336;">No</td>
									<td data-label="Protocol">Custom</td>
									<td data-label="Federated" style="color:#f44336;">No</td>
									<td data-label="Decentralized">No</td>
									<td data-label="Encryption" style="color:#673AB7;">TLS</td>
									<td data-label="Encrypted by Default" style="color:#f44336;">No</td>
									<td data-label="Battery Drain">?</td>
									<td data-label="Data Usage">?</td>
									<td data-label="Desktop Client" style="color:#4CAF50;">Yes</td>
									<td data-label="File Sharing" style="color:#4CAF50;">Yes</td>
									<td data-label="Voice Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Video Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Multi-Device Support">Yes</td>
									<td data-label="Offline Messaging">Yes</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
