				<div class="card fluid">
					<h2>Project News</h2>
					<p>Occasional updates about DivestOS.<br><a href="index.php?page=news-future">(Upcoming News)</a></p>
					<div class="section" id="2022-01-incident">
						<h3>January 2022 Incident<a href="#2022-01-incident">¶</a></h3>
						<h4>What Happened</h4>
						<ul>
							<li>Builds for twenty devices were pulled due to boot failure and rebuilt versions were later uploaded.</li>
						</ul>
						<h4>Impact</h4>
						<ul>
							<li>Affected devices: alioth, Amber, avicii, bramble, coral, davinci, discovery, flame, guacamole, guacamoleb, hotdog, hotdogb, lmi, pioneer, redfin, sunfish, vayu, voyager, z2_plus</li>
						</ul>
						<h4>Timeline</h4>
						<ul>
							<li>Jan 13th: <a href="https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=35306eb23814444bd4021f8a1c3047d3cb0c8b2b" target="_blank" rel="nofollow noopener noreferrer">Patches</a> for CVE-2021-4203 were added to the Linux patch repo.</li>
							<li>Builds containing this patch were released on Jan 14th and 16th.</li>
							<li>Jan 16th @ 20:08: A report was received of guacamole not booting, initially suspected to be firmware related.</li>
							<li>Jan 16th @ 23:02: The report of guacamole not booting was confirmed and ruled out firmware.</li>
							<li>Jan 16th @ 23:18: All guacamole* and hotdog* builds were pulled.</li>
							<li>Using the error message ("creds_are_invalid") and `git blame` the CVE-2021-4203 patches were identified as the issue.</li>
							<li>Jan 16th @ 23:45: All devices that included the patch were pulled.</li>
							<li>In-depth checking of why this broke led to <a href="https://cateee.net/lkddb/web-lkddb/DEBUG_CREDENTIALS.html" target="_blank" rel="nofollow noopener noreferrer">DEBUG_CREDENTIALS</a> catching the NULL credential objects, due to missing <a href="https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=f06bc03339ad4c1baa964a5f0606247ac1c3c50b" target="_blank" rel="nofollow noopener noreferrer">this</a> patch.</li>
							<li>This is confirmed by <a href="https://lwn.net/Articles/872035/" target="_blank" rel="nofollow noopener noreferrer">looking</a> at the Linux stable patches released on Oct 6th, both patches are included.</li>
							<li>Jan 17th @ 00:24: CVE patchers were regenerated and rebuilds of the affected devices started.</li>
							<li>Jan 17th @ 10:31: Rebuilds of the 15 affected 18.1 devices started uploading. Finished @ 13:10.</li>
							<li>Jan 17th @ 13:11: Rebuilds of the 5 affected 17.1 devices started uploading. Finished @ 14:50.</li>
						</ul>
						<h4>Steps to take if you installed the broken build</h4>
						<ul>
							<li>If your bootloader is unlocked or your recovery is still functional, simply flash the newest fixed build.</li>
							<li>If your bootloader is locked and your recovery is not functional, you will have to unlock (which wipes your device) and reinstall the newest fixed build. Then restore your data from backup.</li>
						</ul>
						<h4>Steps to take as a user in the future</h4>
						<ul>
							<li>Keep a copy of the most recent known working build for your device.</li>
							<li>Backup your data before every update.</li>
						</ul>
						<h4>Steps we plan to take in the future</h4>
						<ul>
							<li>Acquire more devices for testing, to catch such issues before release.</li>
						</ul>
					</div>
					<div class="section" id="2022-01">
						<h3>January 16th 2022 Update<a href="#2022-01">¶</a></h3>
						<h4>System Updates</h4>
						<ul>
							<li>18.1 release candidate #1 January ASB builds were published on January 16th.</li>
							<li>17.1 rebuilds were published on January 14th.</li>
							<li>14.1, 15.1, and 16.0 rebuilds were published on January 13th.</li>
							<li>16.0 and 17.1 release candidate #1 January ASB builds were published on January 12th.</li>
							<li>15.1 rebuilds were published on January 11th.</li>
							<li>14.1 release candidate #1 January ASB builds were published on January 11th.</li>
							<li>A handful of additional tracker libraries are now disabled after overhauling our `hamper analytics` patchset.</li>
							<li>Much work went into reducing the number of falsely blocked hosts in the included HOSTS file. Please report any others you find.</li>
							<li>Firmware inclusion repository has had further improvements. Notably enabling updates for enchilada/fajita.</li>
						</ul>
						<h4>Roster Updates</h4>
						<ul>
							<li>Many new 18.1 devices, untested: h910, lavender, pioneer, voyager, discovery, akari, aurora, xz2c</li>
						</ul>
						<h4>App Updates</h4>
						<ul>
							<li>WebRTC was enabled in Mull 96.x builds and would leak LAN IP addresses to websites. WebRTC was again disabled in 96.1.1-3. Few users would have been impacted due to needing to manually update to 96.x in the first place.</li>
							<li>Updated Mulch (WebView) to Chromium 97.0.4692.70-1, has 35 security fixes.</li>
							<li>Updated Mull to 96.1.0, 96.1.1, and 96.1.1-2, has 18 security fixes.</li>
						</ul>
						<h4>Website Updates</h4>
						<ul>
							<li>The browser tables page has been overhauled to be more informative and accurate.</li>
							<li>Patch levels page has updated blob counts and more prominent end of life dates.</li>
						</ul>
					</div>
					<div class="section" id="2021-12.2">
						<h3>December 17th 2021 Update<a href="#2021-12.2">¶</a></h3>
						<h4>System Updates</h4>
						<ul>
							<li>14.1, 15.1 and 16.0 release candidate #2 December ASB builds were published on December 17th.</li>
						</ul>
						<h4>Device Updates</h4>
						<ul>
							<li>Wi-Fi has been fixed on a handful of devices such as amber, raphael, lmi, alioth, guacamole*, and hotdog*.</li>
						</ul>
						<h4>App Updates</h4>
						<ul>
							<li>Updated Mull to 95.2.0.</li>
						</ul>
					</div>
					<div class="section" id="2021-12">
						<h3>December 14th 2021 Update<a href="#2021-12">¶</a></h3>
						<h4>System Updates</h4>
						<ul>
							<li>Firmware inclusion repository has had some improvements and now has an <a href="https://gitlab.com/divested-mobile/firmware-empty/-/blob/master/STATUS" target="_blank" rel="nofollow noopener noreferrer">index</a> available for users.</li>
							<li>15.1 and 16.0 December ASB builds are going to be late.</li>
							<li>17.1 and 18.1 release candidate #1 December ASB builds were published on December 13th.</li>
							<li>14.1 release candidate #1 December ASB builds were published on December 8th.</li>
							<li>This is an absolutely massive and exciting kernel security update for all devices using Linux 3.x series thanks to loose versioning work. This modification to the CVE checker allows checking newer versioned patches against older kernels when a matching version patch is unavailable. This feature was rolled out in three stages, firstly applying one version higher, then applying up to two versions higher, and lastly attempting all 4.4 patches on all 3.x versions. The result is anywhere between 50 and 180 additional CVE patches per 3.x kernel. Rebuilds of all impacted devices were published between November 26th and 29th.</li>
							<li>There have been many new kernel CVE patches as usual.</li>
						</ul>
						<h4>Device Updates</h4>
						<ul>
							<li>Camera2 is now in place of OpenCamera on flox due to driver quirks.</li>
						</ul>
						<h4>Roster Updates</h4>
						<ul>
							<li>harpia and merlin 17.1 builds are now available, untested.</li>
							<li>jellypro 14.1 builds are now available, untested.</li>
						</ul>
						<h4>App Updates</h4>
						<ul>
							<li>Updated Mull to 95.1.0-4, enables the <a href="https://hacks.mozilla.org/2021/12/webassembly-and-back-again-fine-grained-sandboxing-in-firefox-95/" target="_blank" rel="nofollow noopener noreferrer">RLBox</a> security hardening feature.</li>
							<li>Updated Mull to 95.1.0, has 13 security fixes.</li>
							<li>Updated Mulch (WebView) to Chromium 96.0.4664.45-1, 96.0.4664.92-1, and 96.0.4664.104-1, has 26, 20, and 5 security fixes respectively.</li>
						</ul>
						<h4>Website Updates</h4>
						<ul>
							<li>The patch levels page has been cleaned up, received more links, and documents 'end of life' dates.</li>
							<li>Security patch counts for Mull and Mulch have been added to the changelogs.</li>
						</ul>
						<h4>Other Updates</h4>
						<ul>
							<li>The <a href="xmpp:divestos-mobile@conference.konvers.me?join">chat room</a> recently peaked at 24 users connected.</li>
						</ul>
					</div>
					<div class="section" id="2021-11.2">
						<h3>November 9th 2021 Update<a href="#2021-11.2">¶</a></h3>
						<h4>System Updates</h4>
						<ul>
							<li>15.1 release candidate #3 November ASB builds were published on November 9th.</li>
						</ul>
					</div>
					<div class="section" id="2021-11">
						<h3>November 8th 2021 Update<a href="#2021-11">¶</a></h3>
						<h4>System Updates</h4>
						<ul>
							<li>18.1 release candidate #2 November ASB builds were published on November 7th.</li>
							<li>14.1, 16.0, and 17.1 release candidate #2 November ASB builds were published on November 6th.</li>
							<li>[upstream] Updated to October ASB.</li>
							<li>15.1 rebuilds were published on November 5th and 6th. They do not contain November ASB patches.</li>
							<li>The per-app sensors permission patches have been disabled on 14.1, 15.1 and 16.0 due to breakage in select cases.</li>
							<li>14.1 release candidate #1 November ASB builds were published on November 3rd.</li>
							<li>AVB2.0 devices had an AVB1.0 flag set likely preventing boot.</li>
							<li>Many AVB1.0 devices turned out to not be enforcing, now fixed.</li>
							<li>Verifed boot enablement has been overhauled.</li>
							<li>The script used to change the default DNS has been expanded to cover more files.</li>
							<li>The `Private DNS` menu of the Settings app on 17.1+ now includes thirteen presets for various DNS providers. Based off of work by CalyxOS.</li>
							<li>Firmware inclusion has been disabled for select devices, pending update and re-enablement.</li>
							<li>The included HOSTS file has been further reduced in size after making our wildcard optimizer more thorough.</li>
							<li>There have been many new kernel CVE patches as usual.</li>
						</ul>
						<h4>Workspace Updates</h4>
						<ul>
							<li>All scripts have been verified working as intended.</li>
							<li>Various script fixes.</li>
							<li>Scripts will now fail loudly.</li>
							<li>Some patches had minor adjustments to them for `git am` correctness.</li>
							<li>A non-critical patch was found to not have been applied due to a typo.</li>
							<li>Patches are now refreshed on apply.</li>
							<li>Patches are now applied via a helper function based on `git am` instead of `patch -p1 <`.</li>
							<li>Workspace reset function has been made more thorough.</li>
							<li>All branches have been deleted and re-downloaded.</li>
							<li>Manifests have been trimmed.</li>
							<li>11.0/KitKat support has been removed.</li>
						</ul>
						<h4>Device Updates</h4>
						<ul>
							<li>The recovery firmware extraction script has been tested working on clark after resolving SELinux denials. Likely also fixes osprey and surnia.</li>
							<li>z2_plus has been moved to 18.1, untested.</li>
							<li>The enchilada/fajita kernel has been updated to 4.9.277 from 4.9.227.</li>
						</ul>
						<h4>Roster Updates</h4>
						<ul>
							<li>kccat6, lentislte, land, and santoni 16.0 builds are now available, untested.</li>
							<li>apollo 14.1 builds are now available, untested.</li>
						</ul>
						<h4>App Updates</h4>
						<ul>
							<li>Updated Mull to 94.1.0 and 94.1.1, has 13 security fixes.</li>
							<li>Updated Mulch (WebView) to Chromium 95.0.4638.50-1 and 95.0.4638.74-1, has 19 and 9 security fixes respectively.</li>
						</ul>
						<h4>Website Updates</h4>
						<ul>
							<li>The patch levels page now has direct links to kernel CVE patchers.</li>
						</ul>
						<h4>Other Updates</h4>
						<ul>
							<li>Google has finally stopped supporting Linux 3.18, resulting in a grand total of 339 additional CVE patches after official support ended.</li>
						</ul>
					</div>
					<div class="section" id="2021-10">
						<h3>October 11th 2021 Update<a href="#2021-10">¶</a></h3>
						<h4>System Updates</h4>
						<ul>
							<li>18.1 October ASB builds were published on October 10th.</li>
							<li>14.1, 15.1, 16.0, and 17.1 release candidate #1 October ASB builds were published on October 7th.</li>
							<li>[upstream] Updated to October ASB.</li>
							<li>A new `Support` app is included with links to common resources. <a href="https://gitlab.com/divested-mobile/supportdivestos" target="_blank" rel="nofollow noopener noreferrer">git repository</a></li>
							<li>17.1 rebuilds were published on October 3rd.</li>
							<li>14.1, 15.1, and 16.0 rebuilds were published on October 2nd.</li>
							<li>18.1 had full wildcard hosts support fixed after more testing.</li>
							<li>DivestOS now includes its own WebView build named Mulch. Previously DivestOS depended on the LineageOS WebView. However this limited how quickly we could release security updates and prevented our ability to disable various anti-features in Chromium. Mulch is largely based off of and will track closely the Vanadium browser from GrapheneOS. A standalone version of Mulch is also available to all Android users on our F-Droid repository. <a href="https://gitlab.com/divested-mobile/mulch" target="_blank" rel="nofollow noopener noreferrer">git repository</a></li>
							<li>17.1 and 18.1 now feature a quick settings tile to globally block all apps from accessing the camera, microphones, and sensors.</li>
							<li>All versions now have an option to disable sensors on a per-app basis, thanks to @MSe1969</li>
							<li>All 3.4 devices have received numerous (3-30) prima (Wi-Fi driver) related security patches.</li>
							<li>hardenDefconfig function has been reworked to better ensure all changes are made to all devices. Previously there were some cases where changes were only partially applied.</li>
							<li>It has been shown some devices have an extremely long command line passed to the kernel by the bootloader. The hardenBootArgs function excerbated this issue and caused some devices to not boot. It has now been shortened dramatically.</li>
							<li>The hamper analytics patches have been fixed after converting the booleans to strings.</li>
						</ul>
						<h4>Device Updates</h4>
						<ul>
							<li>i9100 has fallen behind due to space constraints.</li>
							<li>Bluetooth on thor has likely been fixed.</li>
							<li>klte build 20210913 had a broken recovery due to kernel commandline. If installed, you will need to manually update. Steps <a href="https://github.com/Divested-Mobile/DivestOS-Build/issues/11#issuecomment-920114006" target="_blank" rel="nofollow noopener noreferrer">here</a></li>
						</ul>
						<h4>App Updates</h4>
						<ul>
							<li>Updated Mulch (WebView) to Chromium 94.0.4606.71-3 and 94.0.4606.80-1, has 4 and 4 security fixes respectively.</li>
							<li>Updated Mull to 93.1.0, has 8 security fixes.</li>
							<li>[upstream] Updated WebView to Chromium 94.0.4606.61, has 1 security fix. <a href="https://review.lineageos.org/c/LineageOS/android_external_chromium-webview/+/316600/2" target="_blank" rel="nofollow noopener noreferrer">commit</a></li>
							<li>Hypatia 2.22 was released, mostly internal changes, and should be much more responsive.</li>
							<li>[upstream] Updated WebView to Chromium 93.0.4577.82, has 10 security fixes. <a href="https://review.lineageos.org/c/LineageOS/android_external_chromium-webview/+/316084/1" target="_blank" rel="nofollow noopener noreferrer">commit</a></li>
						</ul>
						<h4>Website Updates</h4>
						<ul>
							<li>The Patch Levels page now details the number of proprietary blobs each device includes and has removed.</li>
							<li>Credits section has been made more readable</li>
						</ul>
					</div>
					<div class="section" id="2021-09">
						<h3>September 14th 2021 Update<a href="#2021-09">¶</a></h3>
						<h4>System Updates</h4>
						<ul>
							<li>18.1 September ASB builds were published on September 13th and 14th.</li>
							<li>14.1, 15.1, 16.0, and 17.1 release candidate #3 September ASB builds were published on September 12th.</li>
							<li>slub_nomerge has been enabled for pre 3.18 kernels, providing some of the slab_nomerge benefits.</li>
							<li><a href="https://cateee.net/lkddb/web-lkddb/PROC_PAGE_MONITOR.html" target="_blank" rel="nofollow noopener noreferrer">PROC_PAGE_MONITOR</a> is no longer disabled, fixing app and service memory stats (eg. previously 0B shown in Settings).</li>
							<li>14.1 and 15.1 release candidate #2 September ASB builds were published on September 12th.</li>
							<li>[upstream] The APN list has been updated, especially many changes for carriers in China.</li>
							<li>14.1 and 15.1 release candidate #1 September ASB builds were published on September 9th.</li>
							<li>[upstream] Updated to September ASB.</li>
							<li>There have been many new kernel CVE patches as usual.</li>
							<li>TalkBack is now included on all versions. This is thanks to our work <a href="https://gitlab.com/divested-mobile/talkback/-/commit/74df73825d050641ccc2605d41874f7264c0f17c" target="_blank" rel="nofollow noopener noreferrer">removing</a> its proprietary blobs back in July and the subsequent <a href="https://gitlab.com/fdroid/fdroiddata/-/merge_requests/9367/" target="_blank" rel="nofollow noopener noreferrer">upstreaming</a> to F-Droid. Notably it is the first libre-build featuring the Braille keyboard.</li>
							<li>The included HOSTS list for blocking ads/trackers has now been <a href="https://gitlab.com/divested/simple_hosts_merger/-/blob/35a88d10f22ca03f7b9de53562094b34972312b9/src/Main.java#L277" target="_blank" rel="nofollow noopener noreferrer">optimized</a> using wildcards.</li>
							<li>Wildcard HOSTS support has been backported from 16.0 branch to 14.1 and 15.1.</li>
							<li>[upstream] Updated WebView to Chromium 92.0.4515.159, has 9 security fixes. <a href="https://review.lineageos.org/c/LineageOS/android_external_chromium-webview/+/313782/4" target="_blank" rel="nofollow noopener noreferrer">commit</a></li>
						</ul>
						<h4>Device Updates</h4>
						<ul>
							<li>Camera on taimen and walleye is <a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/3a79316ddb564527b25e3c54837169c1487f4a86" target="_blank" rel="nofollow noopener noreferrer">fixed</a>.</li>
						</ul>
						<h4>Roster Updates</h4>
						<ul>
							<li>vayu 18.1 builds are now available, untested.</li>
							<li>davinci 17.1 builds are now available, untested.</li>
							<li>surnia builds are now available, tested working.</li>
							<li>sunfish, bramble, and redfin 18.1 builds are now available, untested.</li>
							<li>beryllium, lmi, and alioth 18.1 builds are now available, untested.</li>
						</ul>
						<h4>App Updates</h4>
						<ul>
							<li>Updated Mull to 91.1.0, 91.2.0, and 92.1.1, has 11, 1, and 5 security fixes respectively.</li>
							<li>Hypatia had a bug <a href="https://gitlab.com/divested-mobile/hypatia/-/commit/fe49d06902fc8a09149c27174fb4b419b4bb2707" target="_blank" rel="nofollow noopener noreferrer">fix</a> to identify multiple files with the same hashes (inverted hashmap).</li>
						</ul>
						<h4>Website Updates</h4>
						<ul>
							<li>The messengers page now details offline message support and multiple device support.</li>
							<li>The screenshots page has been overhauled.</li>
							<li>Many refinements to the device downloads page:
								<ul>
									<li>Device names have been refined.</li>
									<li>Update check counts are now shown for each device.</li>
									<li>Fuzzy dates for images are now shown for each device.</li>
								</ul>
							</li>
						</ul>
						<h4>Other Updates</h4>
						<ul>
							<li>The privacy policy has been updated to better comply with GDPR regulations.</li>
							<li>An F-Droid repository for serving system <a href="https://divestos.org/fdroid/webview?fingerprint=FB426DA1750A53D7724C8A582B4D34174E64A84B38940E5D5A802E1DFF9A40D2" target="_blank">WebView updates</a> out-of-band is now included. You might need to manually add it.</li>
						</ul>
					</div>
					<div class="section" id="2021-08">
						<h3>August 7th 2021 Update<a href="#2021-08">¶</a></h3>
						<h4>System Updates</h4>
						<ul>
							<li>18.1 August ASB builds were published on August 7th.</li>
							<li>14.1, 15.1, 16.0, and 17.1 August ASB builds were published on August 6th.</li>
							<li>[upstream] Updated to August ASB.</li>
							<li>[upstream] Updated WebView to Chromium 92.0.4515.131, has 10 security fixes. <a href="https://review.lineageos.org/c/LineageOS/android_external_chromium-webview/+/313782/3" target="_blank" rel="nofollow noopener noreferrer">commit</a></li>
							<li>14.1 release candidate #1 August ASB builds were published on August 4th.</li>
							<li>A path quoting <a href="https://gitlab.com/divested-mobile/cve_checker/-/commit/56ccdbaefd8312fb8ef036d597bcd8d1cef57dfd" target="_blank" rel="nofollow noopener noreferrer">issue</a> in the CVE patcher was fixed that now allows correctly applying alternate root patches. Now fixed, many devices have received a fair number of added patches. Alternate root patches are primarily used for the Qualcomm Wi-Fi drivers.</li>
							<li>[upstream] Updated WebView to Chromium 92.0.4515.115, has 35 security fixes. <a href="https://review.lineageos.org/c/LineageOS/android_external_chromium-webview/+/313782/2" target="_blank" rel="nofollow noopener noreferrer">commit</a></li>
						</ul>
						<h4>Device Updates</h4>
						<ul>
							<li>LTE (band 4) support for mako was enabled if using a hybrid modem. Tested working with and without hybrid modem.</li>
						</ul>
						<h4>Roster Updates</h4>
						<ul>
							<li>osprey has been moved to 17.1, untested.</li>
							<li>FP3 has been moved to 18.1, untested.</li>
						</ul>
						<h4>App Updates</h4>
						<ul>
							<li>Updated Mull to 90.1.3.</li>
							<li>Hypatia now has more detailed database descriptions and a <a href="https://github.com/botherder/targetedthreats" target="_blank" rel="nofollow noopener noreferrer">new</a> database source from @botherder.</li>
							<li>GMaps WV now supports loading addresses shared from other apps thanks to R Raj (@accountForIssues).</li>

						</ul>
						<h4>Website Updates</h4>
						<ul>
							<li>An effort will be made to better sort News entries by date, most recent first.</li>
							<li>Technical Details page has been overhauled. Many changes are now documented and easily viewable.</li>
							<li>Patch Levels page has been overhauled. Device info is now generated automatically. Linux version status is added.</li>

						</ul>
						<h4>Other Updates</h4>
						<ul>
							<li>Contributions to DivestOS and related projects now require sign-off as per the <a href="https://developercertificate.org" target="_blank" rel="nofollow noopener noreferrer">DCO</a>.</li>
						</ul>
					</div>
					<div class="section" id="2021-07.2">
						<h3>July 20th 2021 Update<a href="#2021-07.2">¶</a></h3>
						<h4>System Updates</h4>
						<ul>
							<li>18.1 rebuilds were published on July 20th.</li>
							<li>15.1 rebuilds were published on July 18th.</li>
							<li>July 13/17th 15.1 builds were missing two security patches compared to 18th.</li>
							<li>14.1, 15.1, 16.0, and 17.1 rebuilds were published on July 17th.</li>
							<li>July 13th 16.0 builds were missing two security patches compared to 17th.</li>
							<li>[upstream] Updated WebView to Chromium 91.0.4472.164, has 8 security fixes. <a href="https://review.lineageos.org/c/LineageOS/android_external_chromium-webview/+/312860" target="_blank" rel="nofollow noopener noreferrer">commit</a></li>
						</ul>
						<h4>Roster Updates</h4>
						<ul>
							<li>FP2 has been moved to 18.1, untested.</li>
							<li>aura, hotdog, and hotdogb 18.1 builds are now available, untested.</li>
						</ul>
					</div>
					<div class="section" id="2021-07">
						<h3>July 14th 2021 Update<a href="#2021-07">¶</a></h3>
						<h4>System Updates</h4>
						<ul>
							<li>18.1 July ASB builds were published on July 14th.</li>
							<li>15.1, 16.0, and 17.1 July ASB builds were published on July 13th.</li>
							<li>14.1 July ASB builds were published on July 12th.</li>
							<li>14.1 release candidate #1 July ASB builds were published on early July 10th and again later in the day.</li>
							<li>14.1, 15.1, 16.0 June rebuilds were published on July 5th.</li>
							<li>July 5th 14.1 builds had a broken bootanimation due to overzealous optipng.</li>
							<li>Fallback DNS has been changed from Cloudflare to Quad9.</li>
							<li>All versions now have an option in the Network section of the Settings app to toggle captive portal checks thanks to @MSe1969.</li>
							<li>Workspace on build server has been re-initialized, should fix a few subtle issues.</li>
							<li>A handful of patches from <a href="https://github.com/Divested-Mobile/DivestOS-Build/commit/881c24d8b26f13fd3da7aeb1403a41d84c739b89" target="_blank" rel="nofollow noopener noreferrer">GrapheneOS</a> and <a href="https://github.com/Divested-Mobile/DivestOS-Build/commit/94b91c6afdc6323db82f145feb5e74463bedca11" target="_blank" rel="nofollow noopener noreferrer">CalyxOS</a> have been integrated.</li>
							<li>There have been a handful of new kernel CVE patches as usual, with over 200 for the <a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/a43601e77bbd5f3613aee62541bec518e924fb8c" target="_blank" rel="nofollow noopener noreferrer">3.4</a> branch thanks to @haggertk's backports.</li>
							<li>[upstream] Updated to July ASB.</li>
							<li>[upstream] Updated WebView to Chromium 91.0.4472.120, has 4 security fixes. <a href="https://review.lineageos.org/c/LineageOS/android_external_chromium-webview/+/312860" target="_blank" rel="nofollow noopener noreferrer">commit</a></li>
						</ul>
						<h4>Device Updates</h4>
						<ul>
							<li>bonito/sargo for 18.1 are still failing to compile, any assistance appreciated. error: <code>ln: cannot create symbolic link from '/data/vendor/rfs/mpss' to 'out/target/product/bonito/vendor/rfs/msm/mpss//readwrite': No such file or directory</code></li>
							<li><del>taimen has reported camera issues, if anyone can provide a logcat that would be welcomed</del></li>
						</ul>
						<h4>Roster Updates</h4>
						<ul>
							<li>serrano 18.1 builds are available</li>
						</ul>
						<h4>App Updates</h4>
						<ul>
							<li>All but one of our apps are now available on the official F-Droid repository.</li>
							<li>Updated Mull to 90.1.1 and 90.1.1-2, has 9 security fixes.</li>
							<li>IR Remote has received a translation into Spanish thanks to Diego Sanguinetti!</li>
						</ul>
					</div>
					<div class="section" id="2021-06">
						<h3>June 16th 2021 Update<a href="#2021-06">¶</a></h3>
						<h4>System Updates</h4>
						<ul>
							<li>15.1, and 16.0 June ASB builds were published on June 11th.</li>
							<li>14.1 and 17.1 June ASB builds were published on June 12th.</li>
							<li>18.1 June ASB builds were published on June 15th.</li>
							<li>There have been a handful of new kernel CVE patches as usual.</li>
							<li>[upstream] Updated to June ASB.</li>
							<li>[upstream] Updated WebView to Chromium 91.0.4472.101, has 14 security fixes. <a href="https://review.lineageos.org/c/LineageOS/android_external_chromium-webview/+/308057" target="_blank" rel="nofollow noopener noreferrer">commit</a></li>
						</ul>
						<h4>Device Updates</h4>
						<ul>
							<li>oneplus2 and ether have been tested booting after amending the deblobber. crackling and kipper are likely also fixed.</li>
							<li>i9305 SIM detection should be fixed.</li>
						</ul>
						<h4>App Updates</h4>
						<ul>
							<li>Many of our apps have been submitted for inclusion in F-Droid. Pending approval/merge.</li>
							<li>Updated Mull to 89.1.1, has 11 security fixes.</li>
						</ul>
						<h4>Website Updates</h4>
						<ul>
							<li>"Name Your Price" donations are now accepted on the about page via Stripe. For freedom preservation there is a prompt before loading any proprietary JavaScript.</li>
						</ul>
						<h4>Other Updates</h4>
						<ul>
							<li>It has been one year since the public release of DivestOS!</li>
							<li>cm-14.1 is likely on its last legs ASB-wise</li>
						</ul>
					</div>
					<div class="section" id="2021-05">
						<h3>May 10th 2021 Update<a href="#2021-05">¶</a></h3>
						<h4>System Updates</h4>
						<ul>
							<li>14.1, 15.1, and 16.0 May ASB builds were published on May 8th.</li>
							<li>17.1 May ASB builds were published on May 9th.</li>
							<li>18.1 May ASB builds were published on May 10th.</li>
							<li>14.1, 15.1, and 16.0 rebuilds were published on April 15th.</li>
							<li>17.1, and 18.1 rebuilds were published on April 16th.</li>
							<li>Devices using `encryptable=footer` were tested broken with `forceencrypt` again in the previous build cycle. Force encryption will once again only be set for devices with a dedicated encryption metadata partition.</li>
							<li>There have been a handful of new kernel CVE patches as usual.</li>
							<li>[upstream] Updated to May ASB.</li>
							<li>[upstream] Updated WebView to Chromium 90.0.4430.82, has 7 security fixes. <a href="https://review.lineageos.org/c/LineageOS/android_external_chromium-webview/+/308057" target="_blank" rel="nofollow noopener noreferrer">commit</a></li>
							<li>18.1 Updater Tor support was fixed.</li>
						</ul>
						<h4>Device Updates</h4>
						<ul>
							<li>cheeseburger/dumpling has finally been fixed on newer releases, likely caused by a stray toolchain. Should hopefully allow other similar devices to boot too.</li>
							<li>Firmware repository has been updated and now supports 28 devices.</li>
						</ul>
						<h4>App Updates</h4>
						<ul>
							<li>Updated Mull to 88.1.1 and 88.1.3, has 14 and 2 security fixes respectively.</li>
							<li>Hypatia on Android 11 was fixed.</li>
							<li>GMaps WV has received support for Google Consent handling.</li>
							<li>Hypatia received a translation into Russian thanks to @q1011!</li>
						</ul>
						<h4>Website Updates</h4>
						<ul>
							<li>The website has been relicensed from GPL-3.0 to AGPL-3.0 for better freedom assurance.</li>
						</ul>
					</div>
					<div class="section" id="2021-04">
						<h3>April 13th 2021 Update<a href="#2021-04">¶</a></h3>
						<h4>System Updates</h4>
						<ul>
							<li>17.1 March rebuilds were published on April 2nd.</li>
							<li>14.1, 15.1, and 16.0 April ASB builds were published on April 11th.</li>
							<li>17.1 April ASB builds were published on April 12th.</li>
							<li>18.1 April ASB builds were published on April 13th.</li>
							<li>[upstream] 18.1 branch has been marked as stable by LineageOS.</li>
							<li>[upstream] Updated to April ASB.</li>
							<li>18.1 builds have begun for many devices.</li>
							<li>17.1 recovery has been updated to latest after utilizing rebranding work from 18.1 branch.</li>
							<li>17.1 and 18.1 include SeedVault for creating and restoring encrypted backups of app data. A USB OTG cable/adapter and flash drive is strongly recommended.</li>
							<li>Experimental 18.1 builds before 04/06 for klte, bacon, and mako had broken recoveries. For klte please flash latest recovery via heimdall. For bacon/mako flash latest recovery via fastboot if unlocked. During testing it was discovered that it is impossible to unlock bacon once locked with an AOSP recovery flashed. A signed factory recovery for bacon can be provided if you've locked yours.</li>
							<li>eSpeak-NG has replaced PicoTTS in 18.1 builds for the system text-to-speech provider.</li>
						</ul>
						<h4>Device Updates</h4>
						<ul>
							<li>Fenix based browsers were fixed on flo and hammerhead.</li>
							<li>Sensors have been fixed on flox 17.1+.</li>
							<li>In-place upgrade to 18.1 has been tested working on the following devices: mata, klte</li>
							<li>The following devices cannot be in-place upgraded to 18.1 and must be wiped: bacon, clark, crackling, d852, d855, flox, fp2, m8, mako, shamu, victara.</li>
						</ul>
						<h4>Roster Updates</h4>
						<ul>
							<li>Many devices have been moved to 18.1 and dropped from 17.1.</li>
							<li>avicii 17.1 builds are available (untested).</li>
							<li>axon7 15.1 builds are available (untested).</li>
						</ul>
						<h4>App Updates</h4>
						<ul>
							<li>Updated Mull to 87.0.0, has 10 security fixes.</li>
							<li>MergedWiFiNLP had updates to support newer Android versions and added a database import file picker.</li>
						</ul>
						<h4>Website Updates</h4>
						<ul>
							<li>A unified script has been made for handling device downloads page metadata.</li>
							<li>There are two new device statuses: "mostly works" and "likely works".</li>
						</ul>
					</div>
					<div class="section" id="2021-03.2">
						<h3>March 25th 2021 Update<a href="#2021-03.2">¶</a></h3>
						<h4>System Updates</h4>
						<ul>
							<li>15.1 rebuilds were published on March 14th with a patch for CVE-2019-2033.</li>
							<li>14.1, 15.1, and 16.0 rebuilds were published between the 24th and 25th.</li>
							<li>Support for building on top of LineageOS 18.1 was added.</li>
							<li>Scripts have been fixed to only include Silence on devices that support SMS.</li>
							<li>Tweaks have been made to reduce RAM usage on devices with less than 2GB of RAM. Some of these tweaks cause graphical artifacts.</li>
							<li>There have been a handful of new kernel CVE patches as usual.</li>
							<li>[upstream] Updated WebView to Chromium 89.0.4389.105, has 5 security fixes. <a href="https://review.lineageos.org/c/LineageOS/android_external_chromium-webview/+/305088" target="_blank" rel="nofollow noopener noreferrer">commit</a></li>
						</ul>
						<h4>Device Updates</h4>
						<ul>
							<li>dragon has been fixed and tested working on 15.1.</li>
						</ul>
						<h4>Roster Updates</h4>
						<ul>
							<li>Experimental 18.1 builds have been made available for select devices. More will be available and switched out once LineageOS marks 18.1 as stable.</li>
							<li>FP3 17.1 builds are available (untested).</li>
							<li>m7 14.1 builds are available (untested).</li>
							<li>Users on flo 15.1 are urged to repartition to flox 17.1+.</li>
							<li>Users on mako 15.1/16.0 are urged to repartition to mako 17.1.</li>
							<li>Many devices had support dropped from old versions if they compile for newer versions to reduce maintenance burden.</li>
						</ul>
						<h4>App Updates</h4>
						<ul>
							<li>Hypatia received a full translation into Italian thanks to @dantecpu and Petra Mirelli!</li>
							<li>Hypatia and Extirpater received a translation into Portuguese thanks to @inkhorn!</li>
							<li>Hypatia received an initial translation into Spanish thanks to Petra Mirelli!</li>
						</ul>
					</div>
					<div class="section" id="2021-03">
						<h3>March 8th 2021 Update<a href="#2021-03">¶</a></h3>
						<h4>System Updates</h4>
						<ul>
							<li>March ASB builds were released between the 5th and 8th.</li>
							<li>There have been a handful of new kernel CVE patches as usual.</li>
							<li>[upstream] Updated to March ASB.</li>
							<li>[upstream] Updated WebView to Chromium 89.0.4389.72, has 47 security fixes. <a href="https://review.lineageos.org/c/LineageOS/android_external_chromium-webview/+/305088" target="_blank" rel="nofollow noopener noreferrer">commit</a></li>
						</ul>
						<h4>Device Updates</h4>
						<ul>
							<li>cheryl now has verified boot support enabled after being missed.</li>
						</ul>
						<h4>Roster Updates</h4>
						<ul>
							<li>mako 16.0 will likely be dropped due to space requirements. Any users should repartition and update to 17.1.</li>
						</ul>
						<h4>App Updates</h4>
						<ul>
							<li>Updated Mull to 86.1.1, has 12 security fixes.</li>
							<li>Hypatia received a handful of bug fixes and necessary improvements.</li>
							<li>Hypatia was translated into French thanks to Jean-Luc Tibaux and Petra Mirelli.</li>
							<li>All F-Droid services had the .onion addresses added as available mirrors.</li>
							<li>All F-Droid repos were upgraded to use 'fdroidserver' 2.0.</li>
							<li>Hypatia now has translated app descriptions on F-Droid.</li>
							<li>Extirpater, GMaps WV, MergedWifiNLP, and MotionLock all had their dependencies updated.</li>
						</ul>
						<h4>Website Updates</h4>
						<ul>
							<li>'Device downloads' has gained per-device bootloader unlocking, relocking, and verified boot information.</li>
							<li>AVB public keys are now available for all supported devices on the 'Device downloads' page.</li>
							<li>'Bootloader Unlocking' page received many refinements.</li>
							<li>'Browser Tables' page received some additions.</li>
							<li>'Device downloads' page now loads faster by reusing connection to the Redis instance.</li>
							<li>Website should now be indexed by search engines, after removing 'robots' flags.</li>
							<li>More information on donating was added.</li>
						</ul>
						<h4>Other Updates</h4>
						<ul>
							<li>GitHub and GitLab repositories were cleaned up (disabled unused features, labels added).</li>
						</ul>
					</div>
					<div class="section" id="2021-02">
						<h3>February 12th 2021 Update<a href="#2021-02">¶</a></h3>
						<h4>System Updates</h4>
						<ul>
							<li>February ASB builds were released between the 6th and 8th.</li>
							<li>Over 30 CVE patches for 3.10 were added. <a href="https://github.com/Divested-Mobile/kernel_patches/commit/c068565d97abfa7803914e9e0e19d171ef230872" target="_blank" rel="nofollow noopener noreferrer">import</a> and <a href="" target="_blank" rel="nofollow noopener noreferrer">update</a></li>
							<li>There have been many new kernel CVE patches as usual.</li>
							<li>[upstream] Updated to February ASB.</li>
							<li>[upstream] Updated WebView to Chromium 88.0.4324.152, has 1 security fix. <a href="https://review.lineageos.org/c/LineageOS/android_external_chromium-webview/+/302271" target="_blank" rel="nofollow noopener noreferrer">commit</a></li>
						</ul>
						<h4>Roster Updates</h4>
						<ul>
							<li>starlte and star2lte have been dropped due to being broken.</li>
						</ul>
						<h4>App Updates</h4>
						<ul>
							<li>Hypatia was translated into German by Petra Mirelli. <a href="https://gitlab.com/divested-mobile/hypatia/-/issues/1" target="_blank" rel="nofollow noopener noreferrer">link</a></li>
							<li>Updated Mull to <a href="https://gitlab.com/divested-mobile/mull-fenix/-/tags/v85.1.2" target="_blank" rel="nofollow noopener noreferrer">85.1.2</a>, has 1 security fix.</li>
							<li>Petra Mirelli also made an F-Droid banner graphic for Hypatia. <a href="https://gitlab.com/divested-mobile/hypatia/-/issues/2" target="_blank" rel="nofollow noopener noreferrer">link</a></li>
							<li>F-Droid banner graphics were also created for Mull and Extirpater.</li>
							<li>F-Droid screenshots were added for Mull, Hypatia, and Extirpater.</li>
						</ul>
						<h4>Website Updates</h4>
						<ul>
							<li>The 'recommended apps' page had some additions. <a href="https://gitlab.com/divested-mobile/divestos-website/-/commit/5647abac9fceee8c68377e2bbf0b27270a62812d" target="_blank" rel="nofollow noopener noreferrer">commit</a></li>
							<li>The 'screenshots' page had some updates. <a href="https://gitlab.com/divested-mobile/divestos-website/-/commit/adc01d69b1997293ad78051624e21317812018f9" target="_blank" rel="nofollow noopener noreferrer">commit</a></li>
						</ul>
					</div>
					<div class="section" id="2021-01">
						<h3>January 26th 2021 Update<a href="#2021-01">¶</a></h3>
						<h4>System Updates</h4>
						<ul>
							<li>January ASB builds were released between the 10th and 14th.</li>
							<li>Rebuilds were published on the 24th thru 26th primarily for CVE patcher updates.</li>
							<li>IMS/VoLTE was made working on supported devices. <a href="https://forum.f-droid.org/uploads/default/original/2X/5/53ee160037c0d5683a65629320d04f41c19f31bb.jpeg" target="_blank" rel="nofollow noopener noreferrer">image</a></li>
							<li>CNE was removed after being briefly included in the Dec/Jan builds. This removal breaks Wi-Fi calling, but is likely worth the security benefits.</li>
							<li>The deblobber received tweaks to better handle more property edits. <a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/b99e1865fe9a108c024f335c7ac36d7db9a355d9" target="_blank" rel="nofollow noopener noreferrer">commit</a></li>
							<li>Part two of the Debian/retired Linux CVE import was completed. Linux 3.0, 3.4, and 3.10 devices benefit the most from this, averaging between 10 and 90 added CVE patches. <a href="https://gitlab.com/divested-mobile/kernel_patches/-/commit/40fef12125acdad0b4512580335642725353839d" target="_blank" rel="nofollow noopener noreferrer">import</a> and <a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/08142c2c9d8acd1d7e8fc8ef7955379aa15963b7" target="_blank" rel="nofollow noopener noreferrer">update</a></li>
							<li>The exec-based spawning feature from GrapheneOS was disabled. We likely failed to port it over correctly and the result is many subtle breakages.</li>
							<li>All versions now include the LineageOS 17.1 APN list for better cell carrier compatibility. <a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/e62afb602b6566f643f0fe74a9d33d67ec4c058c" target="_blank" rel="nofollow noopener noreferrer">commit</a></li>
							<li>All versions were mostly patched against the old CVE-2019-2306. <a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/42b94605f871136d7c85f47ec7569fd37e8e4cfa" target="_blank" rel="nofollow noopener noreferrer">commit</a></li>
							<li>umask is now explicitly set in the build scripts and many files had their permissions corrected. This fixes many subtle issues.</li>
							<li>[upstream] Updated to January ASB.</li>
							<li>[upstream] Updated WebView to Chromium 88.0.4324.93, has 36 security fixes. <a href="https://review.lineageos.org/c/LineageOS/android_external_chromium-webview/+/302271" target="_blank" rel="nofollow noopener noreferrer">commit</a></li>
						</ul>
						<h4>Device Updates</h4>
						<ul>
							<li>mata has long-standing audio issues, Lineage team has been trying to fix them. Currently the earpiece speaker works on calls, but the loud speaker cannot have its volume adjusted.</li>
							<li>The microphone issue on shamu was resolved, was caused by our removal of some voice recognition blobs (which are required for adspd bring-up). <a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/3b8750cdff7722fae94b4b5cd11bb87c20ef13a9" target="_blank" rel="nofollow noopener noreferrer">commit</a></li>
							<li>bullhead now installs (and works) after removing the firmware images to workaround the missing proprietary additions needed for their flashing. <a href="https://github.com/anestisb/android-prepare-vendor/issues/46#issuecomment-260109464" target="_blank" rel="nofollow noopener noreferrer">related</a></li>
						</ul>
						<h4>Roster Updates</h4>
						<ul>
							<li>mako was re-enabled for 16.0 for users who do not want to re-partition their device.</li>
							<li>flo was re-enabled for 15.1, for users who do not want to re-partition their device.</li>
							<li>mako was re-enabled for 15.1 for testing purposes.</li>
							<li>hammerhead was re-enabled for 15.1 due to Bluetooth issues in 16.0.</li>
							<li>ether and shamu were re-enabled for 15.1 as they are the last versions with working IMS.</li>
							<li>star2lte was added to 17.1 and was tested broken, likely due to its usage of stock vendor.img.</li>
						</ul>
						<h4>App Updates</h4>
						<ul>
							<li>Updated Mull to <a href="https://gitlab.com/divested-mobile/mull-fenix/-/tags/v84.1.2" target="_blank" rel="nofollow noopener noreferrer">84.1.2</a>, <a href="https://gitlab.com/divested-mobile/mull-fenix/-/tags/v84.1.4" target="_blank" rel="nofollow noopener noreferrer">84.1.4</a> and <a href="https://gitlab.com/divested-mobile/mull-fenix/-/tags/v85.1.0" target="_blank" rel="nofollow noopener noreferrer">85.1.0</a>, has 0, 1, and 13 security fixes respectively.</li>
							<li>Hypatia had some commits forward-ported from the stable branch to the unfinished dev branch. <a href="https://gitlab.com/divested-mobile/hypatia/-/commits/master" target="_blank" rel="nofollow noopener noreferrer">git log</a></li>
							<li>The PrebuiltApps repository saw a handful of app updates. <a href="https://gitlab.com/divested-mobile/prebuilt_apps/-/commits/master" target="_blank" rel="nofollow noopener noreferrer">git log</a></li>
						</ul>
						<h4>Website Updates</h4>
						<ul>
							<li>The device downloads page now supports serving multiple build versions per device. <a href="https://gitlab.com/divested-mobile/divestos-website/-/commit/5df29b1e05e2b6e2a530c9f5e0bdda05ae19c397" target="_blank" rel="nofollow noopener noreferrer">commit</a></li>
							<li>A 'news' page was added for changelogs and project history. <a href="https://gitlab.com/divested-mobile/divestos-website/-/commit/5138265e9acd3c8601c21977b20592e8087a3cdb" target="_blank" rel="nofollow noopener noreferrer">commit</a></li>
							<li>A 'network connections' page was added for documenting connections made by the system. <a href="https://gitlab.com/divested-mobile/divestos-website/-/commit/8acc7d1688b88dcccbdeb24fe53d0ce0fe61502c" target="_blank" rel="nofollow noopener noreferrer">commit</a></li>
							<li>Pages with tables were fixed up for mobile.</li>
							<li>The 'recommended apps' page had some additions. <a href="https://gitlab.com/divested-mobile/divestos-website/-/commit/1460c25e1035ba528209b0c38ad2c2abe2f567d1" target="_blank" rel="nofollow noopener noreferrer">commit</a></li>
							<li>The 'messengers' page received some needed updates.</li>
							<li>The credits and legal notices section of the 'about' page was updated.</li>
							<li>Some typos were fixed. <a href="https://gitlab.com/divested-mobile/divestos-website/-/commit/95b1353d24dee6156187afac89256ef4c3905eca" target="_blank" rel="nofollow noopener noreferrer">commit</a></li>
						</ul>
						<h4>Other Updates</h4>
						<ul>
							<li>An XMPP public chat room (muc) was created! There have been a very small handful of users, please feel free to join at <a href="xmpp:divestos-mobile@conference.konvers.me?join">divestos-mobile@conference.konvers.me</a>.</li>
						</ul>
					</div>
					<div class="section" id="2020-12">
						<h3>December 16th 2020 Update<a href="#2020-12">¶</a></h3>
						<h4>General Updates</h4>
						<ul>
							<li>November and December ASB builds have been released.</li>
							<li>Mull is now on its 3rd Fenix based release, with the latest 84.1.0 including 14 security fixes. Huge thanks to @relan for their build scripts. <a href="https://gitlab.com/divested-mobile/mull-fenix" target="_blank" rel="nofollow noopener noreferrer">repo link</a></li>
							<li>Hypatia has been updated to show database release/update dates in addition to a multi-threading fix.</li>
							<li>Etar is now used for the calendar app across all versions.</li>
							<li>A handful of more proprietary blob variants have been removed.</li>
							<li>Vendor build fingerprints are now all replaced.</li>
							<li>Lots of miscellaneous fixes and cleanup.</li>
							<li>All 15.1 builds and higher are now fully dexpreopted, this allows for reduced memory usage and also decreased boot times on FDE devices.</li>
							<li>TCP SACK is no longer disabled. SACK PANIC has now been patched on nearly all kernels supported. It has valuable bandwidth saving benefits.</li>
							<li>There have been many new CVE patches, especially for 3.18 kernels.</li>
						</ul>
						<h4>Roster Updates</h4>
						<ul>
							<li>clark has been updated from 14.1 to 17.1 (potential modem issues). In-place upgrade has been tested to work, but your mileage may vary.</li>
							<li>flo has been updated from 15.1 to 17.1, but requires re-partitioning.</li>
							<li>cheeseburger/dumpling are compiling for 17.1, but not booting.</li>
							<li>coral and flame 17.1 builds are available (untested).</li>
							<li>rs988 and h990 17.1 builds are available (untested).</li>
							<li>yellowstone 16.0 builds are available (untested).</li>
							<li>h870 15.1 builds are available (untested).</li>
						</ul>
						<h4>Website Updates</h4>
						<ul>
							<li>Paragraphs now have links for easy saving/sharing.</li>
							<li>Browser, recommended apps, and functionality tables have all been updated.</li>
							<li>A handful of credit updates.</li>
							<li>There is now a captcha required to access the device downloads page. It works without JavaScript, and has audio support.</li>
							<li>There is a new vanity onion address divestoseb5nncsydt7zzf5hrfg44md4bxqjs5ifcv4t7gt7u6ohjyyd.onion. The old address also still works. <a href="https://github.com/cathugger/mkp224o" target="_blank" rel="nofollow noopener noreferrer">tool used</a></li>
							<li>Most pages are now cached by the browser.</li>
							<li>Most text based content served up will now be compressed either by deflate or brotli.</li>
						</ul>
						<h4>Other things</h4>
						<ul>
							<li>Old DivestOS patches have been used to remove AmbientSDK from Replicant. <a href="https://git.replicant.us/replicant/packages_apps_Contacts/tag/?h=cm-13-before-ambientsdk" target="_blank" rel="nofollow noopener noreferrer">git tag</a></li>
							<li>3G is starting to be rapidly phased out, meaning calls with most carriers will not be possible unless IMS/VoLTE works on your device.</li>
							<li>Heads up: LineageOS will most likely be dropping official 16.0 builds once 18.0/18.1 is released.</li>
						</ul>
						<h4>Future work</h4>
						<ul>
							<li><del>Test how much breakage the deblobber is causing to the IMS stack, or if that is upstream.</del></li>
							<li><del>Finish importing <a href="https://gitlab.com/divested-mobile/kernel_patches/-/commit/6e7fc4c8f83081e7634eb1e73f58dd433930b0a8" target="_blank" rel="nofollow noopener noreferrer">this</a></del></li>
							<li>Add back AOSP patching support to the CVE patcher. It is undecided how to best implement it.</li>
						</ul>
					</div>
					<div class="section" id="2020-11">
						<h3>October 10th 2020 Update<a href="#2020-11">¶</a></h3>
						<ul>
							<li>Most 3.4 devices should expect 40-100 more kernel CVE patches. <a href="https://gitlab.com/divested-mobile/kernel_patches/commit/4f9f775f05c4feea9fabeaa61658be027571b4a6" target="_blank" rel="nofollow noopener noreferrer">git commit</a></li>
							<li>Most 3.18 devices should expect 10-40 more kernel CVE patches. <a href="https://gitlab.com/cip-project/cip-kernel/cip-kernel-sec/-/commit/5a07867289e1236fd35c894860abca79b9ce402f" target="_blank" rel="nofollow noopener noreferrer">git commit</a></li>
							<li>A handful of other kernel CVE patches are available for all other devices as per usual.</li>
							<li>Lots of work has been done on making the CVE patcher easier for other projects to use. <a href="https://gitlab.com/divested-mobile/cve_checker" target="_blank" rel="nofollow noopener noreferrer">repo link</a></li>
							<li>Mull is now severely out of date. There hasn't been the time to rebase it. It is strongly suggested to use Bromite or the new Fennec F-Droid until then. Bromite repo is already included in DivestOS F-Droid.</li>
							<li>victara build failed last month due to recovery image being too large, however it is now once again available.</li>
							<li>h850 and zenfone3 builds have been pulled as they were last updated in 2018 and 2019 respectively.</li>
							<li>[upstream] Updated to October security bulletin.</li>
							<li>[upstream] Updated WebView to Chromium 86.0.4240.75, has 35 security fixes.</li>
							<li>11/R builds will likely not be available until March with most devices hopefully being updated by May.</li>
						</ul>
					</div>
					<div class="section" id="2020-10">
						<h3>September 1st 2020 Update<a href="#2020-10">¶</a></h3>
						<ul>
							<li>The CVE patch database now has many more patches thanks to importing data from the Civil Infrastructure Platform CVE tracker.</li>
							<li>The CVE patcher has had some minor fixes to improve output reliability.</li>
							<li>There have been some GPS fixes for all branches, will be available in the next rebuilds.</li>
							<li>Many new (untested) devices: pro1, enchilada, fajita, guacamole, guacamoleb, and broken beryllium.</li>
							<li>Mull is likely on its last release due to ESR 68 branch being closed off.</li>
							<li>Hypatia now supports an extra malware hash database from ESET.</li>
							<li>Credits and screenshots on the website have been updated.</li>
						</ul>
					</div>
				</div>
