				<div class="card fluid">
					<h2>Our Apps</h2>
					<p>All of the following apps are FOSS and are available via our F-Droid repository. If you are running DivestOS the repository is already added and avaialble to you. For others the repository information is available below. Many are also available in the official F-Droid repository.</p>
					<div class="section" id="hypatia">
						<h3>Hypatia<a href="#hypatia">¶</a></h3>
						<p>The first open source real-time malware scanner for Android. It is powered by ClamAV style signature databases. Over 450k malware signatures can be detected by default, and configurable up to over 4 million. Real-time scanning can scan average sized files in 5-40ms and has a near zero impact on device performance and battery life. All operations are done locally on the device. Internet is only used to download signature databases. Your files and/or their metadata will never leave your device.</p>
						<ul>
							<li>License: GPL-3.0-or-later</li>
							<li>Source Code: <a href="https://github.com/divested-mobile/hypatia" target="_blank" rel="nofollow noopener noreferrer">GitHub</a>, <a href="https://gitlab.com/divested-mobile/hypatia" target="_blank" rel="nofollow noopener noreferrer">GitLab</a></li>
							<li>Download: <a href="https://f-droid.org/en/packages/us.spotco.malwarescanner/" target="_blank" rel="nofollow noopener noreferrer">F-Droid</a>, <a href="https://gitlab.com/divested-mobile/hypatia/-/jobs/artifacts/stable/browse?job=assembleDebug" target="_blank" rel="nofollow noopener noreferrer">CI Artifacts (debug .apk)</a></li>
							<li>Test File: Have Hypatia running? Save <a href="/images/hypatia-test-file.png" target="_blank">this</a> file to test it!</li>
						</ul>
						<div class="collapse">
							<input type="checkbox" id="collapse-section-hypatia" aria-hidden="true">
							<label for="collapse-section-hypatia" aria-hidden="true" style="max-width:6em;">Screenshots</label>
							<div style="max-height:100%;">
								<img class="section media" style="max-width:20em;" src="images/screenshots/11<?php if($SBNR_GEN_DARKMODE) { print('-dark'); } ?>/Hypatia.png" loading="lazy"/>
							</div>
						</div>
					</div>
					<div class="section" id="extirpater">
						<h3>Extirpater<a href="#extirpater">¶</a></h3>
						<p>A high performance free space eraser, the first on Android. Use before selling your device, after enabling encryption, or after deleting many apps/files. Warning! Due to how flash drives work and the partition layout of devices, it'll never be possible to fully fill the drive.</p>
						<ul>
							<li>License: GPL-3.0-or-later</li>
							<li>Source Code: <a href="https://github.com/divested-mobile/extirpater" target="_blank" rel="nofollow noopener noreferrer">GitHub</a>, <a href="https://gitlab.com/divested-mobile/extirpater" target="_blank" rel="nofollow noopener noreferrer">GitLab</a></li>
							<li>Download: <a href="https://f-droid.org/en/packages/us.spotco.extirpater/" target="_blank" rel="nofollow noopener noreferrer">F-Droid</a>, <a href="https://gitlab.com/divested-mobile/extirpater/-/jobs/artifacts/master/browse?job=assembleDebug" target="_blank" rel="nofollow noopener noreferrer">CI Artifacts (debug .apk)</a></li>
						</ul>
						<div class="collapse">
							<input type="checkbox" id="collapse-section-extirpater" aria-hidden="true">
							<label for="collapse-section-extirpater" aria-hidden="true" style="max-width:6em;">Screenshots</label>
							<div style="max-height:100%;">
								<img class="section media" style="max-width:20em;" src="images/screenshots/11<?php if($SBNR_GEN_DARKMODE) { print('-dark'); } ?>/Extirpater.png" loading="lazy"/>
							</div>
						</div>
					</div>
					<div class="section" id="mull">
						<h3>Mull<a href="#mull">¶</a></h3>
						<p>This is a privacy oriented and deblobbed web browser based on Mozilla technology. It enables many features upstreamed by the <a href="https://wiki.mozilla.org/Security/Tor_Uplift" target="_blank" rel="nofollow noopener noreferrer">Tor uplift project</a> using preferences from the <a href="https://github.com/arkenfox/user.js" target="_blank" rel="nofollow noopener noreferrer">arkenfox-user.js project</a>. It is compiled from source and proprietary blobs are removed using scripts by Relan from <a href="https://gitlab.com/relan/fennecbuild" target="_blank" rel="nofollow noopener noreferrer">here</a>.</p>
						<ul>
							<li>License: MPL-2.0</li>
							<li>Source Code: <a href="https://github.com/divested-mobile/mull-fenix" target="_blank" rel="nofollow noopener noreferrer">GitHub</a>, <a href="https://gitlab.com/divested-mobile/mull-fenix" target="_blank" rel="nofollow noopener noreferrer">GitLab</a></li>
							<li>Download: <a href="https://f-droid.org/en/packages/us.spotco.fennec_dos/" target="_blank" rel="nofollow noopener noreferrer">F-Droid</a></li>
							<li>Release History Comparision: <a href="/misc/ffa-dates.txt" target="_blank">table</a></li>
						</ul>
						<div class="collapse">
							<input type="checkbox" id="collapse-section-mull" aria-hidden="true">
							<label for="collapse-section-mull" aria-hidden="true" style="max-width:6em;">Screenshots</label>
							<div style="max-height:100%;">
								<img class="section media" style="max-width:20em;" src="images/screenshots/11<?php if($SBNR_GEN_DARKMODE) { print('-dark'); } ?>/Mull.png" loading="lazy"/>
							</div>
						</div>
					</div>
					<div class="section" id="mulch">
						<h3>Mulch<a href="#mulch">¶</a></h3>
						<p>This is a security oriented web browser based on Chromium. It includes many patches from the <a href="https://github.com/GrapheneOS/Vanadium" target="_blank" rel="nofollow noopener noreferrer">Vanadium project</a>, plus some extras from the <a href="https://github.com/bromite/bromite" target="_blank" rel="nofollow noopener noreferrer">Bromite project</a>. The source repo also includes prebuilts and makefiles to allow other ROMs to include Mulch as their system WebView.</p>
						<ul>
							<li>License: BSD, MIT, GPL-3.0, Apache-2.0 + Various Others</li>
							<li>Source Code: <a href="https://gitlab.com/divested-mobile/mulch" target="_blank" rel="nofollow noopener noreferrer">GitLab</a></li>
							<li>Download: <a href="https://f-droid.org/en/packages/us.spotco.mulch/" target="_blank" rel="nofollow noopener noreferrer">DivestOS F-Droid Repo</a></li>
							<li>Release Comparision: <a href="/misc/ch-dates.txt" target="_blank">versions</a></li>
						</ul>
					</div>
					<div class="section" id="gmapswv">
						<h3>GMaps WV<a href="#gmapswv">¶</a></h3>
						<p>This is a restricted WebView wrapper for accessing the web version of Google Maps. Intended for use when OpenStreetMap isn't enough.</p>
						<ul>
							<li>License: GPL-3.0-or-later</li>
							<li>Source Code: <a href="https://github.com/divested-mobile/maps" target="_blank" rel="nofollow noopener noreferrer">GitHub</a>, <a href="https://gitlab.com/divested-mobile/maps" target="_blank" rel="nofollow noopener noreferrer">GitLab</a></li>
							<li>Download: <a href="https://f-droid.org/en/packages/us.spotco.maps/" target="_blank" rel="nofollow noopener noreferrer">F-Droid</a>, <a href="https://gitlab.com/divested-mobile/maps/-/jobs/artifacts/master/browse?job=assembleDebug" target="_blank" rel="nofollow noopener noreferrer">CI Artifacts (debug .apk)</a></li>
						</ul>
					</div>
					<div class="section" id="mergedwifinlp">
						<h3>MergedWiFiNLP<a href="#mergedwifinlp">¶</a></h3>
						<p>This is a UnifiedNlp backend for use with databases generated by <a href="https://gitlab.com/divested-mobile/wifidatabasemerger" target="_blank" rel="nofollow noopener noreferrer">WiFiDatabaseMerger</a>.</p>
						<ul>
							<li>License: GPL-3.0-or-later</li>
							<li>Source Code: <a href="https://github.com/divested-mobile/wlanbackend" target="_blank" rel="nofollow noopener noreferrer">GitHub</a>, <a href="https://gitlab.com/divested-mobile/wlanbackend" target="_blank" rel="nofollow noopener noreferrer">GitLab</a></li>
							<li>Download: <a href="https://f-droid.org/en/packages/info.spotcomms.wlanbackend/" target="_blank" rel="nofollow noopener noreferrer">F-Droid</a>, <a href="https://gitlab.com/divested-mobile/wlanbackend/-/jobs/artifacts/master/browse?job=assembleDebug" target="_blank" rel="nofollow noopener noreferrer">CI Artifacts (debug .apk)</a></li>
						</ul>
					</div>
					<div class="section" id="motionlock">
						<h3>MotionLock (alpha)<a href="#motionlock">¶</a></h3>
						<p>Automatically keeps your device locked when it is face down or hasn't been moved. Only monitors sensors when necessary. Powered by Sensey library licensed under Apache-2.0. Requires device administrator for locking.</p>
						<ul>
							<li>License: GPL-3.0-or-later</li>
							<li>Source Code: <a href="https://github.com/divested-mobile/motionlock" target="_blank" rel="nofollow noopener noreferrer">GitHub</a>, <a href="https://gitlab.com/divested-mobile/motionlock" target="_blank" rel="nofollow noopener noreferrer">GitLab</a></li>
							<li>Download: <a href="https://f-droid.org/en/packages/us.spotco.motionlock/" target="_blank" rel="nofollow noopener noreferrer">F-Droid</a>, <a href="https://gitlab.com/divested-mobile/motionlock/-/jobs/artifacts/master/browse?job=assembleDebug" target="_blank" rel="nofollow noopener noreferrer">CI Artifacts (debug .apk)</a></li>
						</ul>
					</div>
					<div class="section" id="repos">
						<h3>Our F-Droid Repository<a href="#repos">¶</a></h3>
						<p>You can get our apps from our F-Droid repository. Copy and paste the below link into your F-Droid client or scan the QR code.<br>DivestOS Official: <a href="https://divestos.org/fdroid/official/?fingerprint=E4BE8D6ABFA4D9D4FEEF03CDDA7FF62A73FD64B75566F6DD4E5E577550BE8467" target="_blank">https://divestos.org/fdroid/official</a></p>
						<a href="https://divestos.org/fdroid/official/?fingerprint=E4BE8D6ABFA4D9D4FEEF03CDDA7FF62A73FD64B75566F6DD4E5E577550BE8467" target="_blank"><img class="section media" style="height:auto;" src="images/divestos-official-fdroid-repo.png" title="DivestOS Official F-Droid Repository QR Code" alt="DivestOS Official F-Droid Repository QR Code" integrity="sha384-lUeaGeGMw1TaFS5FwN7R6Rzz9xZnq5vOsEBBLXIpajoYcvoW3UwC+SK5TvKpfOVx"/></a>
					</div>
				</div>
