				<div class="card fluid">
					<h2>Patch Levels</h2>
					<p>Below is version information for branches and devices for you to judge your device's security upon.</p>
					<div class="section" id="romSecurity">
						<h3>A note on ROM security<a href="#romSecurity">¶</a></h3>
						<p>There are five parts that you can use to determine the general security of a ROM:
							<ol>
								<li>the version of Android itself, newer versions have more security features/hardening</li>
								<li>the <a href="https://source.android.com/security/bulletin" target="_blank" rel="nofollow noopener noreferrer">ASB</a> patch level, these are essential security patches</li>
								<li>the <a href="https://source.android.com/security/bulletin/pixel" target="_blank" rel="nofollow noopener noreferrer">Pixel ASB</a> patch level, these are recommended security patches</li>
								<li>the vendor ASB patch level, see <a href="https://www.qualcomm.com/company/product-security/bulletins" target="_blank" rel="nofollow noopener noreferrer">Qualcomm</a></li>
								<li>and lastly the <a href="https://www.kernel.org" target="_blank" rel="nofollow noopener noreferrer">Linux kernel</a> version</li>
							</ol>
						Briefly for each ROM:
							<ul>
								<li><a href="https://grapheneos.org" target="_blank" rel="nofollow noopener noreferrer">GrapheneOS</a> strictly only supports devices that have all parts updated.</li>
								<li><a href="https://calyxos.org" target="_blank" rel="nofollow noopener noreferrer">CalyxOS</a>, with the exception of the Pixel 2 and Mi A2, only supports devices that have all parts updated.</li>
								<li><a href="https://lineageos.org" target="_blank" rel="nofollow noopener noreferrer">LineageOS</a> can help with 1, 2, 3, and usually 5, but if a device is out of support by its manufacturer it cannot help with 4.</li>
								<li>DivestOS, being Lineage based helps with 1, 2, 3, can minimize 4 via the <a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/Common/Deblob.sh" target="_blank" rel="nofollow noopener noreferrer">deblobber</a>, and improve 5 significantly using the <a href="https://gitlab.com/divested-mobile/cve_checker" target="_blank" rel="nofollow noopener noreferrer">CVE auto-patcher</a>.</li>
								<li>LineageOS (and derivatives) notably only apply Pixel ASB's to the most recent branch.</li>
								<li>Any of the above ROMs will be a dramatic improvement for any device that is no longer receiving support from its manufacturer.</li>
								<li><a href="https://replicant.us" target="_blank" rel="nofollow noopener noreferrer">Replicant</a> 6.0 is based on the LineageOS-13.0 branch and is behind on all parts.</li>
							</ul>
						If you are choosing a ROM for security the order is GrapheneOS, then DivestOS, then LineageOS, with the choice depending on what device you have or can acquire.
						</p>
					</div>
					<div class="section" id="branchPatchLevels">
						<h3>Branches<a href="#branchPatchLevels">¶</a></h3>
						<p>Last updated: 2022-01-12<br>Asterisk* denotes known or likely missing patches</p>
						<table class="striped" style="max-height: 100%;">
							<thead>
								<tr>
									<th>Version</th>
									<th>End of Life</th>
									<th><a href="https://source.android.com/security/bulletin" target="_blank" rel="nofollow noopener noreferrer">Android Security Bulletin</a></th>
									<th><a href="https://source.android.com/security/bulletin/pixel" target="_blank" rel="nofollow noopener noreferrer">Pixel Security Bulletin</a></tb>
								</tr>
							</thead>
							<tbody>
								<!--<tr>
									<td data-label="Version">19.0 / 12.0</td>
									<td data-label="End of Life">Early ~2025</td>
									<td data-label="ASB">LOS: 2022-01</td>
									<td data-label="PSB">2022-01</td>
								</tr>-->
								<tr>
									<td data-label="Version">18.1 / 11.0</td>
									<td data-label="End of Life">Late ~2023</td>
									<td data-label="ASB">LOS: <a href="https://review.lineageos.org/q/topic:R_asb_2022-01" target="_blank" rel="nofollow noopener noreferrer">2022-01</a>, DOS: 2022-01</td>
									<td data-label="PSB" style="color:red;"><a href="https://github.com/LineageOS/android/commit/baa6c6b88e1b0a5bd5b05eecee8c56151a535424" target="_blank" rel="nofollow noopener noreferrer">2021-10</a>, <?php print(humanTiming(strtotime('2021-10-05'))); ?> ago</td>
								</tr>
								<tr>
									<td data-label="Version">17.1 / 10.0</td>
									<td data-label="End of Life">Late ~2022</td>
									<td data-label="ASB">LOS: <a href="https://review.lineageos.org/q/topic:Q_asb_2022-01" target="_blank" rel="nofollow noopener noreferrer">2022-01</a>, DOS: 2022-01</td>
									<td data-label="PSB" style="color:red;"><a href="https://github.com/LineageOS/android/commit/486feedcc841f404c35e4321fd6db7fca55b7621" target="_blank" rel="nofollow noopener noreferrer">2020-08</a>, <?php print(humanTiming(strtotime('2020-08-05'))); ?> ago</td>
								</tr>
								<tr>
									<td data-label="Version">16.0 / 9.0</td>
									<td data-label="End of Life">Early ~2022</td>
									<td data-label="ASB">LOS: <a href="https://review.lineageos.org/q/topic:P_asb_2022-01" target="_blank" rel="nofollow noopener noreferrer">2022-01</a>, DOS: 2022-01</td>
									<td data-label="PSB" style="color:red;"><a href="https://github.com/LineageOS/android/commit/f41bb3a16a28ffafb4c09754b4f6a865340725b0" target="_blank" rel="nofollow noopener noreferrer">2019-08</a>, <?php print(humanTiming(strtotime('2019-08-05'))); ?> ago</td>
								</tr>
								<tr>
									<td data-label="Version">15.1 / 8.1.0</td>
									<td data-label="End of Life" style="color:red;"><a href="https://source.android.com/security/bulletin/2021-10-01" target="_blank" rel="nofollow noopener noreferrer">2021-10</a>, <?php print(humanTiming(strtotime('2021-10-05'))); ?> ago</td>
									<td data-label="ASB">LOS: <a href="https://review.lineageos.org/q/topic:O_asb_2021-12" target="_blank" rel="nofollow noopener noreferrer">2021-10</a>, DOS: 2021-12*</td>
									<td data-label="PSB" style="color:red;"><a href="https://github.com/LineageOS/android/commit/86e8f7bff944b9ba333cc98d7389708945994015" target="_blank" rel="nofollow noopener noreferrer">2018-12</a>, <?php print(humanTiming(strtotime('2018-12-05'))); ?> ago</td>
								</tr>
								<tr>
									<td data-label="Version">14.1 / 7.1.2</td>
									<td data-label="End of Life" style="color:red;"><a href="https://source.android.com/security/bulletin/2019-10-01" target="_blank" rel="nofollow noopener noreferrer">2019-10</a>, <?php print(humanTiming(strtotime('2019-10-05'))); ?> ago</td>
									<td data-label="ASB">LOS: <a href="https://review.lineageos.org/q/topic:n-asb-2021-07+OR+topic:n-asb-2021-08" target="_blank" rel="nofollow noopener noreferrer">2021-06</a>, DOS: <a href="https://review.lineageos.org/q/topic:n-asb-2021-09+OR+topic:n-asb-2021-10+OR+topic:n-asb-2021-11+OR+topic:n-asb-2021-12+OR+topic:n-asb-2022-01" target="_blank" rel="nofollow noopener noreferrer">2022-01*</a></td>
									<td data-label="PSB" style="color:red;"><a href="https://github.com/LineageOS/android/commit/11d2ce3ca02dd8b8866e275d86020d6388b22fe9" target="_blank" rel="nofollow noopener noreferrer">2017-12</a>, <?php print(humanTiming(strtotime('2017-12-05'))); ?> ago</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="section" id="kernelStatus">
						<h3>Linux Version Status<a href="#kernelStatus">¶</a></h3>
						<p>Last updated: 2022-01-07</p>
						<table class="striped" style="max-height: 100%;">
							<thead>
								<tr>
									<th>Version</th>
									<th>Last</th>
									<th>End of Life</tb>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td data-label="Version">5.15</td>
									<td data-label="Last">5.15.13</td>
									<td data-label="EOL">2023-10</td>
								</tr>
								<tr>
									<td data-label="Version">5.10</td>
									<td data-label="Last">5.10.90</td>
									<td data-label="EOL">2026-12</td>
								</tr>
								<tr>
									<td data-label="Version">5.4</td>
									<td data-label="Last">5.4.170</td>
									<td data-label="EOL">2025-12</td>
								</tr>
								<tr>
									<td data-label="Version">4.19</td>
									<td data-label="Last">4.19.224</td>
									<td data-label="EOL">2024-12</td>
								</tr>
								<tr>
									<td data-label="Version">4.14</td>
									<td data-label="Last">4.14.261</td>
									<td data-label="EOL">2024-01</td>
								</tr>
								<tr>
									<td data-label="Version">4.9</td>
									<td data-label="Last">4.9.296</td>
									<td data-label="EOL">2023-01</td>
								</tr>
								<tr>
									<td data-label="Version">4.4</td>
									<td data-label="Last">4.4.298</td>
									<td data-label="EOL">2022-02</td>
								</tr>
								<tr>
									<td data-label="Version">3.18</td>
									<td data-label="Last">3.18.140</td>
									<td data-label="EOL" style="color:red;">2019-05-16 + 2021-10 (Google/Linaro), <?php print(humanTiming(strtotime('2021-10-05'))); ?> ago</td>
								</tr>
								<tr>
									<td data-label="Version">3.10</td>
									<td data-label="Last">3.10.108</td>
									<td data-label="EOL" style="color:red;">2017-11-04, <?php print(humanTiming(strtotime('2017-11-04'))); ?> ago</td>
								</tr>
								<tr>
									<td data-label="Version">3.4</td>
									<td data-label="Last">3.4.113</td>
									<td data-label="EOL" style="color:red;">2016-10-26, <?php print(humanTiming(strtotime('2016-10-26'))); ?> ago</td>
								</tr>
								<tr>
									<td data-label="Version">3.0</td>
									<td data-label="Last">3.0.101</td>
									<td data-label="EOL" style="color:red;">2013-10-22, <?php print(humanTiming(strtotime('2013-10-22'))); ?> ago</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="section" id="devices">
						<h3>Devices<a href="#devices">¶</a></h3>
						<p>Last updated: 2022-01-07</p>
						<table class="striped" style="max-height: 100%;">
							<thead>
								<tr>
									<th>Device</th>
									<th>Branch</th>
									<th>Vendor ASB</th>
									<th>Kernel</tb>
									<th>Blob Count</tb>
								</tr>
							</thead>
							<tbody>
<tr>
	<td data-label="Device">akari</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2020-09-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_sony_sdm845.sh" target="_blank" rel="nofollow noopener noreferrer">4.9.206 + 364 patches</td>
	<td data-label="Blob Count">1820, -268</td>
</tr>
<tr>
	<td data-label="Device">alioth</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2021-08-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_xiaomi_sm8250.sh" target="_blank" rel="nofollow noopener noreferrer">4.19.113 + 346 patches</td>
	<td data-label="Blob Count">1308, -186</td>
</tr>
<tr>
	<td data-label="Device">Amber</td>
	<td data-label="Version">17.1</td>
	<td data-label="V-ASB">2020-10-05</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-17.1/CVE_Patchers/android_kernel_yandex_sdm660.sh" target="_blank" rel="nofollow noopener noreferrer">4.4.205 + 302 patches</td>
	<td data-label="Blob Count">961, -163</td>
</tr>
<tr>
	<td data-label="Device">angler</td>
	<td data-label="Version">15.1</td>
	<td data-label="V-ASB">Unknown</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-15.1/CVE_Patchers/android_kernel_huawei_angler.sh" target="_blank" rel="nofollow noopener noreferrer">3.10.73 + 509 patches</td>
	<td data-label="Blob Count">65, -27 + has stock /vendor</td>
</tr>
<tr>
	<td data-label="Device">apollo</td>
	<td data-label="Version">14.1</td>
	<td data-label="V-ASB">Unknown</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_amazon_hdx-common.sh" target="_blank" rel="nofollow noopener noreferrer">3.4.0 + 744 patches</td>
	<td data-label="Blob Count">411, -62</td>
</tr>
<tr>
	<td data-label="Device">aura</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2021-02-05</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_razer_sdm845.sh" target="_blank" rel="nofollow noopener noreferrer">4.9.294 + 66 patches</td>
	<td data-label="Blob Count">1006, -202</td>
</tr>
<tr>
	<td data-label="Device">aurora</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2020-09-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_sony_sdm845.sh" target="_blank" rel="nofollow noopener noreferrer">4.9.206 + 364 patches</td>
	<td data-label="Blob Count">2037, -268</td>
</tr>
<tr>
	<td data-label="Device">avicii</td>
	<td data-label="Version">17.1</td>
	<td data-label="V-ASB">2020-12-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-17.1/CVE_Patchers/android_kernel_oneplus_sm7250.sh" target="_blank" rel="nofollow noopener noreferrer">4.19.81 + 415 patches</td>
	<td data-label="Blob Count">2155, -303</td>
</tr>
<tr>
	<td data-label="Device">axon7</td>
	<td data-label="Version">15.1</td>
	<td data-label="V-ASB">Unknown</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-15.1/CVE_Patchers/android_kernel_zte_msm8996.sh" target="_blank" rel="nofollow noopener noreferrer">3.18.71 + 624 patches</td>
	<td data-label="Blob Count">819, -100</td>
</tr>
<tr>
	<td data-label="Device">bacon</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2016-09-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_oppo_msm8974.sh" target="_blank" rel="nofollow noopener noreferrer">3.4.113 + 328 patches</td>
	<td data-label="Blob Count">173, -5</td>
</tr>
<tr>
	<td data-label="Device">beryllium</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2020-12-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_xiaomi_sdm845.sh" target="_blank" rel="nofollow noopener noreferrer">4.9.295 + 65 patches</td>
	<td data-label="Blob Count">783, -184</td>
</tr>
<tr>
	<td data-label="Device">blueline</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2021-10-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_google_msm-4.9.sh" target="_blank" rel="nofollow noopener noreferrer">4.9.248 + 201 patches</td>
	<td data-label="Blob Count">1611, -201</td>
</tr>
<tr>
	<td data-label="Device">bonito</td>
	<td data-label="Version">17.1</td>
	<td data-label="V-ASB">2020-09-05</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-17.1/CVE_Patchers/android_kernel_google_msm-4.9.sh" target="_blank" rel="nofollow noopener noreferrer">4.9.210 + 348 patches</td>
	<td data-label="Blob Count">1454, -187</td>
</tr>
<tr>
	<td data-label="Device">bramble</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2021-10-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_google_redbull.sh" target="_blank" rel="nofollow noopener noreferrer">4.19.160 + 223 patches</td>
	<td data-label="Blob Count">2142, -230</td>
</tr>
<tr>
	<td data-label="Device">bullhead</td>
	<td data-label="Version">15.1</td>
	<td data-label="V-ASB">Unknown</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-15.1/CVE_Patchers/android_kernel_lge_bullhead.sh" target="_blank" rel="nofollow noopener noreferrer">3.10.73 + 524 patches</td>
	<td data-label="Blob Count">166, -53 + has stock /vendor</td>
</tr>
<tr>
	<td data-label="Device">cheeseburger</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2020-09-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_oneplus_msm8998.sh" target="_blank" rel="nofollow noopener noreferrer">4.4.295 + 56 patches</td>
	<td data-label="Blob Count">948, -133</td>
</tr>
<tr>
	<td data-label="Device">cheryl</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2019-11-05</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_oneplus_msm8998.sh" target="_blank" rel="nofollow noopener noreferrer">4.4.295 + 56 patches</td>
	<td data-label="Blob Count">667, -78</td>
</tr>
<tr>
	<td data-label="Device">clark</td>
	<td data-label="Version">14.1</td>
	<td data-label="V-ASB">Unknown</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_motorola_msm8992.sh" target="_blank" rel="nofollow noopener noreferrer">3.10.102 + 616 patches</td>
	<td data-label="Blob Count">538, -80</td>
</tr>
<tr>
	<td data-label="Device">clark</td>
	<td data-label="Version">17.1</td>
	<td data-label="V-ASB">2017-10-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-17.1/CVE_Patchers/android_kernel_motorola_msm8992.sh" target="_blank" rel="nofollow noopener noreferrer">3.10.108 + 360 patches</td>
	<td data-label="Blob Count">538, -80</td>
</tr>
<tr>
	<td data-label="Device">coral</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2021-10-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_google_coral.sh" target="_blank" rel="nofollow noopener noreferrer">4.14.212 + 198 patches</td>
	<td data-label="Blob Count">1985, -239</td>
</tr>
<tr>
	<td data-label="Device">crackling</td>
	<td data-label="Version">17.1</td>
	<td data-label="V-ASB">2016-12-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-17.1/CVE_Patchers/android_kernel_cyanogen_msm8916.sh" target="_blank" rel="nofollow noopener noreferrer">3.10.108 + 384 patches</td>
	<td data-label="Blob Count">257, -4</td>
</tr>
<tr>
	<td data-label="Device">crosshatch</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2021-10-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_google_msm-4.9.sh" target="_blank" rel="nofollow noopener noreferrer">4.9.248 + 201 patches</td>
	<td data-label="Blob Count">1611, -201</td>
</tr>
<tr>
	<td data-label="Device">d802</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2015-12-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_lge_msm8974.sh" target="_blank" rel="nofollow noopener noreferrer">3.4.113 + 368 patches</td>
	<td data-label="Blob Count">507, -49</td>
</tr>
<tr>
	<td data-label="Device">d852</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">Unknown</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_lge_g3.sh" target="_blank" rel="nofollow noopener noreferrer">3.4.113 + 382 patches</td>
	<td data-label="Blob Count">224, -5</td>
</tr>
<tr>
	<td data-label="Device">d855</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">Unknown</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_lge_g3.sh" target="_blank" rel="nofollow noopener noreferrer">3.4.113 + 382 patches</td>
	<td data-label="Blob Count">226, -5</td>
</tr>
<tr>
	<td data-label="Device">davinci</td>
	<td data-label="Version">17.1</td>
	<td data-label="V-ASB">2020-09-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-17.1/CVE_Patchers/android_kernel_xiaomi_sm6150.sh" target="_blank" rel="nofollow noopener noreferrer">4.14.213 + 201 patches</td>
	<td data-label="Blob Count">1068, -200</td>
</tr>
<tr>
	<td data-label="Device">discovery</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2020-11-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_sony_sdm660.sh" target="_blank" rel="nofollow noopener noreferrer">4.4.205 + 290 patches</td>
	<td data-label="Blob Count">1143, -130</td>
</tr>
<tr>
	<td data-label="Device">dragon</td>
	<td data-label="Version">15.1</td>
	<td data-label="V-ASB">Unknown</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-15.1/CVE_Patchers/android_kernel_google_dragon.sh" target="_blank" rel="nofollow noopener noreferrer">3.18.0 + 641 patches</td>
	<td data-label="Blob Count">69, -3 + has stock /vendor</td>
</tr>
<tr>
	<td data-label="Device">dumpling</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2020-09-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_oneplus_msm8998.sh" target="_blank" rel="nofollow noopener noreferrer">4.4.295 + 56 patches</td>
	<td data-label="Blob Count">939, -133</td>
</tr>
<tr>
	<td data-label="Device">enchilada</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">Unknown</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_oneplus_sdm845.sh" target="_blank" rel="nofollow noopener noreferrer">4.9.227 + 93 patches</td>
	<td data-label="Blob Count">103, -66 + has stock /vendor</td>
</tr>
<tr>
	<td data-label="Device">ether</td>
	<td data-label="Version">15.1</td>
	<td data-label="V-ASB">2017-04-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-15.1/CVE_Patchers/android_kernel_nextbit_msm8992.sh" target="_blank" rel="nofollow noopener noreferrer">3.10.108 + 412 patches</td>
	<td data-label="Blob Count">345, -13</td>
</tr>
<tr>
	<td data-label="Device">ether</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2017-04-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_nextbit_msm8992.sh" target="_blank" rel="nofollow noopener noreferrer">3.10.108 + 406 patches</td>
	<td data-label="Blob Count">345, -13</td>
</tr>
<tr>
	<td data-label="Device">fajita</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">Unknown</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_oneplus_sdm845.sh" target="_blank" rel="nofollow noopener noreferrer">4.9.227 + 93 patches</td>
	<td data-label="Blob Count">103, -66 + has stock /vendor</td>
</tr>
<tr>
	<td data-label="Device">flame</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2021-10-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_google_coral.sh" target="_blank" rel="nofollow noopener noreferrer">4.14.212 + 198 patches</td>
	<td data-label="Blob Count">1981, -239</td>
</tr>
<tr>
	<td data-label="Device">flo</td>
	<td data-label="Version">15.1</td>
	<td data-label="V-ASB">2016-08-05</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-15.1/CVE_Patchers/android_kernel_google_msm.sh" target="_blank" rel="nofollow noopener noreferrer">3.4.113 + 402 patches</td>
	<td data-label="Blob Count">183, -14</td>
</tr>
<tr>
	<td data-label="Device">flounder</td>
	<td data-label="Version">15.1</td>
	<td data-label="V-ASB">2017-10-05</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-15.1/CVE_Patchers/android_kernel_htc_flounder.sh" target="_blank" rel="nofollow noopener noreferrer">3.10.103 + 384 patches</td>
	<td data-label="Blob Count">197, -11 + has stock /vendor</td>
</tr>
<tr>
	<td data-label="Device">flox</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2016-08-05</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_google_msm.sh" target="_blank" rel="nofollow noopener noreferrer">3.4.113 + 370 patches</td>
	<td data-label="Blob Count">180, -14</td>
</tr>
<tr>
	<td data-label="Device">FP2</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2018-04-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_fairphone_msm8974.sh" target="_blank" rel="nofollow noopener noreferrer">3.4.113 + 206 patches</td>
	<td data-label="Blob Count">327, -9</td>
</tr>
<tr>
	<td data-label="Device">FP3</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2021-03-05</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_fairphone_sdm632.sh" target="_blank" rel="nofollow noopener noreferrer">4.9.218 + 315 patches</td>
	<td data-label="Blob Count">1154, -157</td>
</tr>
<tr>
	<td data-label="Device">fugu</td>
	<td data-label="Version">15.1</td>
	<td data-label="V-ASB">2017-11-05</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-15.1/CVE_Patchers/android_kernel_asus_fugu.sh" target="_blank" rel="nofollow noopener noreferrer">3.10.20 + 594 patches</td>
	<td data-label="Blob Count">237, -15</td>
</tr>
<tr>
	<td data-label="Device">fugu</td>
	<td data-label="Version">16.0</td>
	<td data-label="V-ASB">2017-11-05</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-16.0/CVE_Patchers/android_kernel_asus_fugu.sh" target="_blank" rel="nofollow noopener noreferrer">3.10.20 + 593 patches</td>
	<td data-label="Blob Count">237, -15</td>
</tr>
<tr>
	<td data-label="Device">fugu</td>
	<td data-label="Version">17.1</td>
	<td data-label="V-ASB">2017-11-05</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-17.1/CVE_Patchers/android_kernel_asus_fugu.sh" target="_blank" rel="nofollow noopener noreferrer">3.10.20 + 593 patches</td>
	<td data-label="Blob Count">237, -15</td>
</tr>
<tr>
	<td data-label="Device">griffin</td>
	<td data-label="Version">17.1</td>
	<td data-label="V-ASB">2019-11-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-17.1/CVE_Patchers/android_kernel_motorola_msm8996.sh" target="_blank" rel="nofollow noopener noreferrer">3.18.120 + 542 patches</td>
	<td data-label="Blob Count">899, -106</td>
</tr>
<tr>
	<td data-label="Device">grouper</td>
	<td data-label="Version">14.1</td>
	<td data-label="V-ASB">Unknown</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_asus_grouper.sh" target="_blank" rel="nofollow noopener noreferrer">3.4.113 + 408 patches</td>
	<td data-label="Blob Count">74, -4</td>
</tr>
<tr>
	<td data-label="Device">guacamoleb</td>
	<td data-label="Version">17.1</td>
	<td data-label="V-ASB">2021-01-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-17.1/CVE_Patchers/android_kernel_oneplus_sm8150.sh" target="_blank" rel="nofollow noopener noreferrer">4.14.117 + 452 patches</td>
	<td data-label="Blob Count">1721, -295</td>
</tr>
<tr>
	<td data-label="Device">guacamole</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2021-12-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_oneplus_sm8150.sh" target="_blank" rel="nofollow noopener noreferrer">4.14.190 + 261 patches</td>
	<td data-label="Blob Count">1232, -199</td>
</tr>
<tr>
	<td data-label="Device">h815</td>
	<td data-label="Version">14.1</td>
	<td data-label="V-ASB">Unknown</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_lge_msm8992.sh" target="_blank" rel="nofollow noopener noreferrer">3.10.84 + 578 patches</td>
	<td data-label="Blob Count">782, -149</td>
</tr>
<tr>
	<td data-label="Device">h850</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">Unknown</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_lge_msm8996.sh" target="_blank" rel="nofollow noopener noreferrer">3.18.113 + 516 patches</td>
	<td data-label="Blob Count">950, -92</td>
</tr>
<tr>
	<td data-label="Device">h870</td>
	<td data-label="Version">15.1</td>
	<td data-label="V-ASB">Unknown</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-15.1/CVE_Patchers/android_kernel_lge_msm8996.sh" target="_blank" rel="nofollow noopener noreferrer">3.18.113 + 529 patches</td>
	<td data-label="Blob Count">1197, -85</td>
</tr>
<tr>
	<td data-label="Device">h910</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">Unknown</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_lge_msm8996.sh" target="_blank" rel="nofollow noopener noreferrer">3.18.113 + 516 patches</td>
	<td data-label="Blob Count">993, -92</td>
</tr>
<tr>
	<td data-label="Device">h990</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">Unknown</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_lge_msm8996.sh" target="_blank" rel="nofollow noopener noreferrer">3.18.113 + 516 patches</td>
	<td data-label="Blob Count">1001, -92</td>
</tr>
<tr>
	<td data-label="Device">ham</td>
	<td data-label="Version">16.0</td>
	<td data-label="V-ASB">2016-06-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-16.0/CVE_Patchers/android_kernel_cyanogen_msm8974.sh" target="_blank" rel="nofollow noopener noreferrer">3.4.113 + 357 patches</td>
	<td data-label="Blob Count">224, -4</td>
</tr>
<tr>
	<td data-label="Device">hammerhead</td>
	<td data-label="Version">15.1</td>
	<td data-label="V-ASB">2016-10-05</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-15.1/CVE_Patchers/android_kernel_lge_hammerhead.sh" target="_blank" rel="nofollow noopener noreferrer">3.4.0 + 590 patches</td>
	<td data-label="Blob Count">215, -26</td>
</tr>
<tr>
	<td data-label="Device">hammerhead</td>
	<td data-label="Version">16.0</td>
	<td data-label="V-ASB">2016-10-05</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-16.0/CVE_Patchers/android_kernel_lge_hammerhead.sh" target="_blank" rel="nofollow noopener noreferrer">3.4.0 + 590 patches</td>
	<td data-label="Blob Count">215, -26</td>
</tr>
<tr>
	<td data-label="Device">harpia</td>
	<td data-label="Version">17.1</td>
	<td data-label="V-ASB">2018-06-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-17.1/CVE_Patchers/android_kernel_motorola_msm8916.sh" target="_blank" rel="nofollow noopener noreferrer">3.10.108 + 437 patches</td>
	<td data-label="Blob Count">313, -24</td>
</tr>
<tr>
	<td data-label="Device">herolte</td>
	<td data-label="Version">14.1</td>
	<td data-label="V-ASB">Unknown</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_samsung_universal8890.sh" target="_blank" rel="nofollow noopener noreferrer">3.18.14 + 676 patches</td>
	<td data-label="Blob Count">218, -1</td>
</tr>
<tr>
	<td data-label="Device">himaul</td>
	<td data-label="Version">14.1</td>
	<td data-label="V-ASB">Unknown</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_htc_msm8994.sh" target="_blank" rel="nofollow noopener noreferrer">3.10.84 + 497 patches</td>
	<td data-label="Blob Count">778, -31</td>
</tr>
<tr>
	<td data-label="Device">himaul</td>
	<td data-label="Version">15.1</td>
	<td data-label="V-ASB">Unknown</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-15.1/CVE_Patchers/android_kernel_htc_msm8994.sh" target="_blank" rel="nofollow noopener noreferrer">3.10.84 + 522 patches</td>
	<td data-label="Blob Count">778, -31</td>
</tr>
<tr>
	<td data-label="Device">hotdogb</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2021-12-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_oneplus_sm8150.sh" target="_blank" rel="nofollow noopener noreferrer">4.14.190 + 261 patches</td>
	<td data-label="Blob Count">1247, -199</td>
</tr>
<tr>
	<td data-label="Device">hotdog</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2021-12-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_oneplus_sm8150.sh" target="_blank" rel="nofollow noopener noreferrer">4.14.190 + 261 patches</td>
	<td data-label="Blob Count">1246, -199</td>
</tr>
<tr>
	<td data-label="Device">i9100</td>
	<td data-label="Version">14.1</td>
	<td data-label="V-ASB">Unknown</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_samsung_smdk4412.sh" target="_blank" rel="nofollow noopener noreferrer">3.0.101 + 385 patches</td>
	<td data-label="Blob Count">81, -7</td>
</tr>
<tr>
	<td data-label="Device">i9300</td>
	<td data-label="Version">14.1</td>
	<td data-label="V-ASB">Unknown</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_samsung_smdk4412.sh" target="_blank" rel="nofollow noopener noreferrer">3.0.101 + 385 patches</td>
	<td data-label="Blob Count">53, -2</td>
</tr>
<tr>
	<td data-label="Device">i9305</td>
	<td data-label="Version">14.1</td>
	<td data-label="V-ASB">Unknown</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_samsung_smdk4412.sh" target="_blank" rel="nofollow noopener noreferrer">3.0.101 + 385 patches</td>
	<td data-label="Blob Count">78, -2</td>
</tr>
<tr>
	<td data-label="Device">jfltexx</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2017-08-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_samsung_jf.sh" target="_blank" rel="nofollow noopener noreferrer">3.4.113 + 407 patches</td>
	<td data-label="Blob Count">118, -2</td>
</tr>
<tr>
	<td data-label="Device">kccat6</td>
	<td data-label="Version">16.0</td>
	<td data-label="V-ASB">Unknown</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-16.0/CVE_Patchers/android_kernel_samsung_apq8084.sh" target="_blank" rel="nofollow noopener noreferrer">3.10.108 + 245 patches</td>
	<td data-label="Blob Count">390, -5</td>
</tr>
<tr>
	<td data-label="Device">kipper</td>
	<td data-label="Version">16.0</td>
	<td data-label="V-ASB">Unknown</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-16.0/CVE_Patchers/android_kernel_cyanogen_msm8916.sh" target="_blank" rel="nofollow noopener noreferrer">3.10.108 + 384 patches</td>
	<td data-label="Blob Count">259, -4</td>
</tr>
<tr>
	<td data-label="Device">klte</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2017-08-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_samsung_msm8974.sh" target="_blank" rel="nofollow noopener noreferrer">3.4.113 + 214 patches</td>
	<td data-label="Blob Count">283, -6</td>
</tr>
<tr>
	<td data-label="Device">land</td>
	<td data-label="Version">16.0</td>
	<td data-label="V-ASB">2017-04-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-16.0/CVE_Patchers/android_kernel_xiaomi_msm8937.sh" target="_blank" rel="nofollow noopener noreferrer">3.18.140 + 394 patches</td>
	<td data-label="Blob Count">865, -110</td>
</tr>
<tr>
	<td data-label="Device">lavender</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2021-06-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_xiaomi_sdm660.sh" target="_blank" rel="nofollow noopener noreferrer">4.4.296 + 47 patches</td>
	<td data-label="Blob Count">1491, -97</td>
</tr>
<tr>
	<td data-label="Device">lentislte</td>
	<td data-label="Version">16.0</td>
	<td data-label="V-ASB">Unknown</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-16.0/CVE_Patchers/android_kernel_samsung_apq8084.sh" target="_blank" rel="nofollow noopener noreferrer">3.10.108 + 245 patches</td>
	<td data-label="Blob Count">390, -5</td>
</tr>
<tr>
	<td data-label="Device">lmi</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2021-08-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_xiaomi_sm8250.sh" target="_blank" rel="nofollow noopener noreferrer">4.19.113 + 346 patches</td>
	<td data-label="Blob Count">1187, -186</td>
</tr>
<tr>
	<td data-label="Device">m7</td>
	<td data-label="Version">14.1</td>
	<td data-label="V-ASB">Unknown</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_htc_msm8960.sh" target="_blank" rel="nofollow noopener noreferrer">3.4.113 + 445 patches</td>
	<td data-label="Blob Count">232, -16</td>
</tr>
<tr>
	<td data-label="Device">m8</td>
	<td data-label="Version">17.1</td>
	<td data-label="V-ASB">2016-07-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-17.1/CVE_Patchers/android_kernel_htc_msm8974.sh" target="_blank" rel="nofollow noopener noreferrer">3.4.113 + 459 patches</td>
	<td data-label="Blob Count">282, -16</td>
</tr>
<tr>
	<td data-label="Device">m8</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2016-07-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_htc_msm8974.sh" target="_blank" rel="nofollow noopener noreferrer">3.4.113 + 456 patches</td>
	<td data-label="Blob Count">282, -16</td>
</tr>
<tr>
	<td data-label="Device">maguro</td>
	<td data-label="Version">14.1</td>
	<td data-label="V-ASB">Unknown</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_samsung_tuna.sh" target="_blank" rel="nofollow noopener noreferrer">3.0.101 + 379 patches</td>
	<td data-label="Blob Count">28, -7</td>
</tr>
<tr>
	<td data-label="Device">mako</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2015-09-08</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_lge_mako.sh" target="_blank" rel="nofollow noopener noreferrer">3.4.113 + 408 patches</td>
	<td data-label="Blob Count">115, -1</td>
</tr>
<tr>
	<td data-label="Device">manta</td>
	<td data-label="Version">14.1</td>
	<td data-label="V-ASB">Unknown</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_samsung_manta.sh" target="_blank" rel="nofollow noopener noreferrer">3.4.113 + 322 patches</td>
	<td data-label="Blob Count">23, -4</td>
</tr>
<tr>
	<td data-label="Device">marlin</td>
	<td data-label="Version">17.1</td>
	<td data-label="V-ASB">2019-10-06</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-17.1/CVE_Patchers/android_kernel_google_marlin.sh" target="_blank" rel="nofollow noopener noreferrer">3.18.137 + 446 patches</td>
	<td data-label="Blob Count">819, -140</td>
</tr>
<tr>
	<td data-label="Device">mata</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2020-02-05</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_essential_msm8998.sh" target="_blank" rel="nofollow noopener noreferrer">4.4.295 + 102 patches</td>
	<td data-label="Blob Count">769, -85</td>
</tr>
<tr>
	<td data-label="Device">merlin</td>
	<td data-label="Version">17.1</td>
	<td data-label="V-ASB">2018-06-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-17.1/CVE_Patchers/android_kernel_motorola_msm8916.sh" target="_blank" rel="nofollow noopener noreferrer">3.10.108 + 437 patches</td>
	<td data-label="Blob Count">329, -24</td>
</tr>
<tr>
	<td data-label="Device">n5110</td>
	<td data-label="Version">14.1</td>
	<td data-label="V-ASB">Unknown</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_samsung_smdk4412.sh" target="_blank" rel="nofollow noopener noreferrer">3.0.101 + 385 patches</td>
	<td data-label="Blob Count">57, -2</td>
</tr>
<tr>
	<td data-label="Device">n7100</td>
	<td data-label="Version">14.1</td>
	<td data-label="V-ASB">Unknown</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_samsung_smdk4412.sh" target="_blank" rel="nofollow noopener noreferrer">3.0.101 + 385 patches</td>
	<td data-label="Blob Count">56, -2</td>
</tr>
<tr>
	<td data-label="Device">oneplus2</td>
	<td data-label="Version">15.1</td>
	<td data-label="V-ASB">2017-10-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-15.1/CVE_Patchers/android_kernel_oneplus_msm8994.sh" target="_blank" rel="nofollow noopener noreferrer">3.10.108 + 381 patches</td>
	<td data-label="Blob Count">404, -7</td>
</tr>
<tr>
	<td data-label="Device">oneplus2</td>
	<td data-label="Version">17.1</td>
	<td data-label="V-ASB">2017-10-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-17.1/CVE_Patchers/android_kernel_oneplus_msm8994.sh" target="_blank" rel="nofollow noopener noreferrer">3.10.108 + 361 patches</td>
	<td data-label="Blob Count">404, -7</td>
</tr>
<tr>
	<td data-label="Device">oneplus3</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2019-10-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_oneplus_msm8996.sh" target="_blank" rel="nofollow noopener noreferrer">3.18.124 + 439 patches</td>
	<td data-label="Blob Count">860, -99</td>
</tr>
<tr>
	<td data-label="Device">osprey</td>
	<td data-label="Version">17.1</td>
	<td data-label="V-ASB">2018-06-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-17.1/CVE_Patchers/android_kernel_motorola_msm8916.sh" target="_blank" rel="nofollow noopener noreferrer">3.10.108 + 437 patches</td>
	<td data-label="Blob Count">328, -24</td>
</tr>
<tr>
	<td data-label="Device">pioneer</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2020-11-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_sony_sdm660.sh" target="_blank" rel="nofollow noopener noreferrer">4.4.205 + 290 patches</td>
	<td data-label="Blob Count">1085, -130</td>
</tr>
<tr>
	<td data-label="Device">pro1</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2020-04-05</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_fxtec_msm8998.sh" target="_blank" rel="nofollow noopener noreferrer">4.4.293 + 52 patches</td>
	<td data-label="Blob Count">931, -134</td>
</tr>
<tr>
	<td data-label="Device">raphael</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2021-07-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_xiaomi_sm8150.sh" target="_blank" rel="nofollow noopener noreferrer">4.14.180 + 294 patches</td>
	<td data-label="Blob Count">835, -209</td>
</tr>
<tr>
	<td data-label="Device">redfin</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2021-10-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_google_redbull.sh" target="_blank" rel="nofollow noopener noreferrer">4.19.160 + 223 patches</td>
	<td data-label="Blob Count">2140, -230</td>
</tr>
<tr>
	<td data-label="Device">rs988</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">Unknown</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_lge_msm8996.sh" target="_blank" rel="nofollow noopener noreferrer">3.18.113 + 516 patches</td>
	<td data-label="Blob Count">950, -92</td>
</tr>
<tr>
	<td data-label="Device">sailfish</td>
	<td data-label="Version">17.1</td>
	<td data-label="V-ASB">2019-10-06</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-17.1/CVE_Patchers/android_kernel_google_marlin.sh" target="_blank" rel="nofollow noopener noreferrer">3.18.137 + 446 patches</td>
	<td data-label="Blob Count">818, -140</td>
</tr>
<tr>
	<td data-label="Device">santoni</td>
	<td data-label="Version">16.0</td>
	<td data-label="V-ASB">2018-06-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-16.0/CVE_Patchers/android_kernel_xiaomi_msm8937.sh" target="_blank" rel="nofollow noopener noreferrer">3.18.140 + 394 patches</td>
	<td data-label="Blob Count">669, -110</td>
</tr>
<tr>
	<td data-label="Device">sargo</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2021-10-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_google_msm-4.9.sh" target="_blank" rel="nofollow noopener noreferrer">4.9.248 + 201 patches</td>
	<td data-label="Blob Count">1633, -200</td>
</tr>
<tr>
	<td data-label="Device">serrano3gxx</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2016-08-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_samsung_msm8930-common.sh" target="_blank" rel="nofollow noopener noreferrer">3.4.113 + 484 patches</td>
	<td data-label="Blob Count">105, -3</td>
</tr>
<tr>
	<td data-label="Device">serranoltexx</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2016-08-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_samsung_msm8930-common.sh" target="_blank" rel="nofollow noopener noreferrer">3.4.113 + 484 patches</td>
	<td data-label="Blob Count">107, -3</td>
</tr>
<tr>
	<td data-label="Device">shamu</td>
	<td data-label="Version">15.1</td>
	<td data-label="V-ASB">2017-10-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-15.1/CVE_Patchers/android_kernel_moto_shamu.sh" target="_blank" rel="nofollow noopener noreferrer">3.10.108 + 289 patches</td>
	<td data-label="Blob Count">288, -36</td>
</tr>
<tr>
	<td data-label="Device">shamu</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2017-10-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_moto_shamu.sh" target="_blank" rel="nofollow noopener noreferrer">3.10.108 + 267 patches</td>
	<td data-label="Blob Count">288, -36</td>
</tr>
<tr>
	<td data-label="Device">sunfish</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2021-10-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_google_sunfish.sh" target="_blank" rel="nofollow noopener noreferrer">4.14.212 + 195 patches</td>
	<td data-label="Blob Count">1875, -227</td>
</tr>
<tr>
	<td data-label="Device">surnia</td>
	<td data-label="Version">17.1</td>
	<td data-label="V-ASB">2018-06-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-17.1/CVE_Patchers/android_kernel_motorola_msm8916.sh" target="_blank" rel="nofollow noopener noreferrer">3.10.108 + 437 patches</td>
	<td data-label="Blob Count">269, -24</td>
</tr>
<tr>
	<td data-label="Device">taimen/walleye</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2020-10-05</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_google_wahoo.sh" target="_blank" rel="nofollow noopener noreferrer">4.4.296 + 68 patches</td>
	<td data-label="Blob Count">974, -132</td>
</tr>
<tr>
	<td data-label="Device">thor</td>
	<td data-label="Version">14.1</td>
	<td data-label="V-ASB">Unknown</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_amazon_hdx-common.sh" target="_blank" rel="nofollow noopener noreferrer">3.4.0 + 744 patches</td>
	<td data-label="Blob Count">411, -62</td>
</tr>
<tr>
	<td data-label="Device">toro</td>
	<td data-label="Version">14.1</td>
	<td data-label="V-ASB">Unknown</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_samsung_tuna.sh" target="_blank" rel="nofollow noopener noreferrer">3.0.101 + 379 patches</td>
	<td data-label="Blob Count">39, -12</td>
</tr>
<tr>
	<td data-label="Device">toroplus</td>
	<td data-label="Version">14.1</td>
	<td data-label="V-ASB">Unknown</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_samsung_tuna.sh" target="_blank" rel="nofollow noopener noreferrer">3.0.101 + 379 patches</td>
	<td data-label="Blob Count">36, -13</td>
</tr>
<tr>
	<td data-label="Device">us996</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">Unknown</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_lge_msm8996.sh" target="_blank" rel="nofollow noopener noreferrer">3.18.113 + 516 patches</td>
	<td data-label="Blob Count">993, -92</td>
</tr>
<tr>
	<td data-label="Device">us997</td>
	<td data-label="Version">15.1</td>
	<td data-label="V-ASB">Unknown</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-15.1/CVE_Patchers/android_kernel_lge_msm8996.sh" target="_blank" rel="nofollow noopener noreferrer">3.18.113 + 529 patches</td>
	<td data-label="Blob Count">1198, -85</td>
</tr>
<tr>
	<td data-label="Device">v1awifi</td>
	<td data-label="Version">14.1</td>
	<td data-label="V-ASB">Unknown</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_samsung_exynos5420.sh" target="_blank" rel="nofollow noopener noreferrer">3.4.113 + 203 patches</td>
	<td data-label="Blob Count">158, -4</td>
</tr>
<tr>
	<td data-label="Device">vayu</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2021-07-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_xiaomi_sm8150.sh" target="_blank" rel="nofollow noopener noreferrer">4.14.180 + 294 patches</td>
	<td data-label="Blob Count">1237, -209</td>
</tr>
<tr>
	<td data-label="Device">victara</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2016-08-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_motorola_msm8974.sh" target="_blank" rel="nofollow noopener noreferrer">3.4.113 + 438 patches</td>
	<td data-label="Blob Count">247, -9</td>
</tr>
<tr>
	<td data-label="Device">voyager</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2020-11-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_sony_sdm660.sh" target="_blank" rel="nofollow noopener noreferrer">4.4.205 + 290 patches</td>
	<td data-label="Blob Count">1070, -130</td>
</tr>
<tr>
	<td data-label="Device">xz2c</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2020-09-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_sony_sdm845.sh" target="_blank" rel="nofollow noopener noreferrer">4.9.206 + 364 patches</td>
	<td data-label="Blob Count">1820, -268</td>
</tr>
<tr>
	<td data-label="Device">yellowstone</td>
	<td data-label="Version">16.0</td>
	<td data-label="V-ASB">2014-09-30</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-16.0/CVE_Patchers/android_kernel_google_yellowstone.sh" target="_blank" rel="nofollow noopener noreferrer">3.10.96 + 436 patches</td>
	<td data-label="Blob Count">190, -24</td>
</tr>
<tr>
	<td data-label="Device">yellowstone</td>
	<td data-label="Version">17.1</td>
	<td data-label="V-ASB">2014-09-30</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-17.1/CVE_Patchers/android_kernel_google_yellowstone.sh" target="_blank" rel="nofollow noopener noreferrer">3.10.96 + 436 patches</td>
	<td data-label="Blob Count">190, -24</td>
</tr>
<tr>
	<td data-label="Device">Z00T</td>
	<td data-label="Version">15.1</td>
	<td data-label="V-ASB">2018-02-05</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-15.1/CVE_Patchers/android_kernel_asus_msm8916.sh" target="_blank" rel="nofollow noopener noreferrer">3.10.108 + 387 patches</td>
	<td data-label="Blob Count">661, -13</td>
</tr>
<tr>
	<td data-label="Device">z2_plus</td>
	<td data-label="Version">18.1</td>
	<td data-label="V-ASB">2018-11-05</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_zuk_msm8996.sh" target="_blank" rel="nofollow noopener noreferrer">4.4.205 + 298 patches</td>
	<td data-label="Blob Count">696, -137</td>
</tr>
<tr>
	<td data-label="Device">zenfone3</td>
	<td data-label="Version">16.0</td>
	<td data-label="V-ASB">2018-07-01</td>
	<td data-label="Kernel"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-16.0/CVE_Patchers/android_kernel_asus_msm8953.sh" target="_blank" rel="nofollow noopener noreferrer">3.18.140 + 394 patches</td>
	<td data-label="Blob Count">812, -137</td>
</tr>
							</tbody>
						</table>
					</div>
				</div>
