				<div class="card fluid">
					<h2>Post Install</h2>
					<p>Things you should do soon after installing</p>
					<div class="section" id="apps">
						<h3>Install some apps!<a href="#apps">¶</a></h3>
						<p>We created a list of recommended and tested apps <a href="index.php?page=recommended_apps">here</a>. You can quickly install a small selection of those recommended apps by temporarily enabling the 'DivestOS Provisioning' repository.<br>You can also get access to even more apps by enabling the included 'IzzyOnDroid' repo; be warned however that while all apps are open source, not all are fully FOSS. Read more <a href="https://apt.izzysoft.de/fdroid/index/info" target="_blank" rel="nofollow noopener noreferrer">here at IzzySoft.</a></p>
					</div>
					<div class="section" id="settings">
						<h3>Optional settings to change<a href="#settings">¶</a></h3>
						<ul>
							<li>Setting a lockscreen password of 12+ characters is extremely recommended, at the minimum please use a 6+ digit pin</li>
							<li>Have a limited/expensive mobile data plan? Check out our saving data page <a href="index.php?page=saving_data">here</a></li>
							<li>Enable 'Privacy Guard' for extra control over application permissions</li>
							<li>Utilizing and configuring 'Profiles' for your uses/environment can increase battery life and potentially enhance security.</li>
							<li>Disabling lockscreen shortcuts can potentially reduce potential lockscreen bypass vulnerabilities</li>
							<li>Enabling 'Increasing ring volume' is very nice if you don't use it already</li>
						</ul>
					</div>
					<div class="section" id="unifiednlp">
						<h3>Enable a location provider or two<a href="#unifiednlp">¶</a></h3>
						<p>In order to obtain your location without GPS a location provider is necessary. These can utilize known locations of cell towers and Wi-Fi access points in order to determine your location. Backends can either be powered by offline or online databases.</p>
						<ul>
							<li>For devices where GPS will be on occasionally (such as phones) we recommend simply enabling DejaVu. DejaVu is an offline local database.</li>
							<li>For devices without GPS (such as tablets) if necessary you can enable the MozillaNlp backend. This backend sends nearby Wi-Fi access points to Mozilla's online location lookup backend.</li>
							<!--<li>To enable either backend: microG Settings > UnifiedNlp Settings > Configure location backends</li>-->
							<li>To enable either backend: Settings > Location > UnifiedNlp > Configure location backends</li>
							<li>There are additional backends available via F-Droid.</li>
						</ul>
					</div>
					<div class="section" id="advanced">
						<h3>Advanced changes<a href="#advanced">¶</a></h3>
						<ul>
							<li>Flash the corresponding recovery for your device for extra verification of updates</li>
							<li>Relock your bootloader. This is an absolute necessary for maximum security. Be sure to flash our recovery first! Older devices can often be locked without being wiped. Warning: Some devices (eg. Moto E) will soft brick upon relocking, in most cases this can be mitigated by having a complete (not just /system) stock image for your exact model.</li>
						</ul>
					</div>
					<div class="section" id="physical">
						<h3>Physical Protections<a href="#physical">¶</a></h3>
						<h4>Apply a privacy screen protector</h4>
						<p>Privacy screen protectors limit the viewing angles of the screen they are applied to, resulting in a dramatic reduction of what people and cameras around you can see. They can be purchased for around $4 on eBay and similar sites. The glass ones are the best as always, but some older phones seem to only have the plastic film ones available. Be warned, they noticeably reduce the brightness and add an ever so slight screen door effect. If your phone doesn't have the brightest of screens it will become near-impossible to see in sunlight and also impact camera/videos experience.</p>
						<h4>Keep a faraday bag handy</h4>
						<p>Faraday bags for phones can be purchased for around $10. They are absolutely essential if you have a phone without a removable battery or are in high-risk areas often. Putting your phone in their inner flap will will prevent all relevant radio signals coming/going to your phone.</p>
						<h4>Wear a hat</h4>
						<p>Plain baseball hats can be purchased for around $6 and provide a decent reduction in visibility of your face to cameras.</p>
					</div>
					<div class="section" id="contribute">
						<h3>Contribute<a href="#contribute">¶</a></h3>
						<p>Please consider contributing in the form of testing, promoting, bug reports, code review, merge requests, translations, mirrors, and financially to ensure the project's longevity.</p>
						<a href="https://divested.dev/donate" class="button primary" target="_blank" rel="nofollow noopener noreferrer">Donate</a>
					</div>
				</div>
