				<div class="card fluid">
					<h2>Privacy Policy (2021-08-30)</h2>
					<p>User privacy is one of the primary goals of DivestOS.<br>Detailed below is everything you need to know about how your data is handled.<br>Please see our <a href="https://divested.dev/index.php?page=infrastructure" target="_blank" rel="nofollow noopener noreferrer">infrastructure page</a> to learn how we keep our services safe.</p>
					<div class="section" id="control">
						<h3>Control over your data</h3>
						<ul>
							<li>Requesting your data:
								<ul>
									<li>Web server logs will not be provided.</li>
									<li>konvers.me chat logs of your user can be retrieved by joining the room with an XMPP client supporting (MUC-)MAM.</li>
									<li>Donation history via Stripe can be provided upon request from a matching email address.</li>
								</ul>
							</li>
							<li>Correction of your data: We do not believe we have any data that can be corrected, but do reach out if necessary.</li>
							<li>Deletion of your data:
								<ul>
									<li>Web server logs are kept for no longer than two weeks.</li>
									<li>konvers.me access logs are deleted weekly.</li>
									<li>konvers.me messages can be deleted upon special request.</li>
								</ul>
							</li>
							<li>Expressing concerns: We are always open to suggestions and collaboration on how we can further improve user privacy. Please e-mail us or open an issue on the project repository and lets get a discussion going!</li>
						</ul>
						<p>E-Mail: <script>document.write(atob("PGEgaHJlZj0ibWFpbHRvOnN1cHBvcnQrcHJpdmFjeUBkaXZlc3Rvcy5vcmciPnN1cHBvcnQrcHJpdmFjeUBkaXZlc3Rvcy5vcmc8L2E+"));</script><noscript>JavaScript Protected</noscript></p>
					</div>
					<div class="section" id="fpCollect">
						<h3>What data we (Divested Computing Group) collect</h3>
						<ul>
							<li id="website">Website</li>
							<ul>
								<li>What is received: Cookies (detailed below), Page Visited, Referring Page, User Agent, and IP Address</li>
								<li>Cookies</li>
								<ul>
									<li>PHPSESSID - Set by the server to maintain variables such as CSRF tokens</li>
									<script>
										var cookieCount = document.cookie.split(';').length;
										if(document.cookie.length == 0) { cookieCount--; }
										document.write('<li><mark>Cookie status: ' + cookieCount + ' currently set</mark></li>');
										document.write('<li><a href="javascript:deleteAllCookies()">Click here to delete all cookies from your browser</a></li>')
									</script>
									<noscript><li><mark>Cookie status: Unknown</mark></li></noscript>
								</ul>
								<li>How often: On every page visit</li>
								<li>Why it is received: Used to serve the web pages to users</li>
								<li>When it will be deleted: Web server logs are kept for no longer than two weeks</li>
								<li>What else will it be used for: Nothing else</li>
								<li>How to anonymize: Visit the site using the Tor Browser</li>
								<li>Example: <code>[IP Address] - - [Timestamp] "GET /index.php?page=privacy_policy HTTP/2.0" 200 3441 "-" "Mozilla/5.0 (Windows NT 10.0; rv:91.0) Gecko/20100101 Firefox/91.0"</code></li>
							</ul>
							<?php if($SBNR_ANALYTICS_ENABLED || $SBNR_SHADOW_ENABLED) : ?>
							<li id="analytics">Website Analytics</li>
							<ul>
								<li>What is received: Page Visited, Stripped Referring Page, Browser Fingerprint (salted with domain), User Agent, IP Address</li>
								<li>How often: On every page visit</li>
								<li>Why it is received: Used to determine how popular and roughly how many users we have</li>
								<li>When it will be deleted: At least once a month</li>
								<li>What else will it be used for: Nothing else</li>
								<li>How to anonymize: Visit the site using the Tor Browser</li>
								<li>How to disable: Enable your browser's 'Do Not Track' option or disable JavaScript</li>
								<script>
									var dntStatus = "Unknown";
									if(navigator.doNotTrack) {
										dntStatus = "Not Tracking (Do Not Track Enabled)";
									} else {
										dntStatus = "Tracking (Do Not Track Disabled)";
									}
									document.write("<li><mark>Current status: " + dntStatus + "</mark></li>");
								</script>
								<noscript><li><mark>Current status: Not Tracking (JavaScript Disabled)</mark></li></noscript>
							</ul>
							<?php endif; ?>
							<li id="rom">ROM</li>
							<ul>
								<li>The ROM does not contain any analytics and any requests are used only for supporting it</li>
							</ul>
							<!-- Corresponding patch is currently disabled -->
							<!--<li id="fpCaptivePortal">ROM: Captive Portal Check</li>
							<ul>
								<li>What is received: Static User Agent, IP Address</li>
								<li>How often: On every Wi-Fi and cell connection</li>
								<li>Why it is received: Used to determine if there is an Internet connection</li>
								<li>When it will be deleted: All requests to gen204.php are never logged</li>
								<li>What else will it be used for: Nothing else</li>
								<li>How to disable: Captive portal toggle in settings app or <code>$ adb shell settings put global captive_portal_mode 0;</code></li>
								<li>Settings can be accessed via:<ul>
									<li>9+: Settings > Network & Internet > Advanced > Captive portal mode</li>
									<li><9: Settings > Network > Data usage > Disable Captive Portal</li>
								</ul></li>
							</ul>-->
							<li id="romUpdater">ROM: Updater</li>
							<ul>
								<li>What is received: Device Model, Incremental Build ID, Default User Agent, IP Address</li>
								<li>How often: On every boot and also once per day</li>
								<li>Why it is received: Used to serve system updates</li>
								<li>When it will be deleted: Web server logs are kept for no longer than two weeks</li>
								<li>What else will it be used for: Will be occasionally used to determine how many users we have and what percent are up-to-date or not</li>
								<li>How to anonymize: Install Orbot and enable 'Perform requests over Tor'</li>
								<li>How to disable: Disable 'Auto updates check'</li>
								<li>Settings can be accessed via:<ul>
									<li>9+: Settings > System > Advanced > DivestOS updates > 3dot > Preferences</li>
									<li><9: Settings > About > DivestOS updates > 3dot > Preferences</li>
								</ul></li>
								<li>Example: <code>[IP Address] - - [Timestamp] "GET /updater.php?base=LineageOS&device=mata&inc=engemy20210814031730 HTTP/1.1" 200 276 "-" "Dalvik/2.1.0 (Linux; U; Android 11; PH-1 Build/RQ3A.210805.001.A1)"</code></li>
							</ul>
							<li id="fpRepos">ROM: DivestOS F-Droid Repos</li>
							<ul>
								<li>What is received: Repo Index Requests/App APK Requests/App Icon Requests, F-Droid Version, IP Address</li>
								<li>How often: Once per day</li>
								<li>Why it is received: Used to serve apps and their updates</li>
								<li>When it will be deleted: Web server logs are kept for no longer than two weeks</li>
								<li>What else will it be used for: Nothing else</li>
								<li>How to anonymize: Install Orbot and enable 'Use Tor' in F-Droid > Settings</li>
								<li>How to reduce: Decrease the 'Automatic update interval' in F-Droid > Settings</li>
								<li>How to disable: Disable the 'DivestOS' repos in F-Droid > Settings > Repositories</li>
								<li>Example: <code>[IP Address] - - [Timestamp] "HEAD /fdroid/official/index-v1.jar HTTP/1.1" 200 - "-" "F-Droid 1.13.1"</code></li>
							</ul>
							<li id="hypatia">App: Hypatia</li>
							<ul>
								<li>What is received: Signature Database Requests, IP Address</li>
								<li>How often: Manually</li>
								<li>Why it is received: Used to serve signature databases</li>
								<li>When it will be deleted: Web server logs are kept for no longer than two weeks</li>
								<li>What else will it be used for: Nothing else</li>
								<li>How to anonymize: Install Orbot and enable 'Download over Tor'</li>
								<li>Example: <code>[IP Address] - - [Timestamp] "GET /MalwareScannerSignatures/Android.hsb.gz HTTP/1.1" 304 - "-" "Hypatia"</code></li>
							</ul>
							<li id="xmpp">Chat rooms (MUC) available on xmpp:konvers.me</li>
							<ul>
								<li>What is received: JID, nickname, avatar, messages you send, your server IP address, your client IP address only if fetching an HTTP uploaded image</li>
								<li>How often: When you join and are connected to a room</li>
								<li>Why it is received: Used to provide the chat service to you</li>
								<li>When it will be deleted: Messages are not deleted per default MAM policy. Access logs are deleted weekly. IP addresses are not stored in the access logs.</li>
								<li>What else will it be used for: Nothing else</li>
								<li>How to anonymize: Use a throwaway JID and nickname. Route your XMPP client over Tor.</li>
							</ul>
						</ul>
					</div>
					<div class="section" id="3rdparty">
						<h3>What data third parties collect</h3>
						<p>Third parties are used to support specific features and apps</p>
						<ul>
							<li id="stripe">Website Payments</li>
							<ul>
								<li>Who: Stripe</li>
								<li>What they receive: Name, Bank Card, E-Mail Address, User Agent, Browser Fingerprint, IP Address, Location from Geo-IP</li>
								<li>What we receive: Name, Bank Name, E-Mail Address, User Agent, Location from Geo-IP</li>
								<li>How often: When you donate</li>
								<li>Why they receive: Used to process the payment</li>
								<li>What else will we use it for: Nothing else</li>
								<li>How to anonymize: Use a fake name, debit gift card, disposable e-mail address, and connect via a computer at your local library</li>
								<li>How to disable: Requests to Stripe's servers will not occur until you attempt to donate</li>
								<li>Privacy Policy: <a href="https://stripe.com/us/privacy" target="_blank" rel="nofollow noopener noreferrer">Stripe Privacy Policy</a></li>
							</ul>
							<li id="googleCaptivePortal">ROM: Captive Portal Check</li>
							<ul>
								<li>Who: Google</li>
								<li>Description: Used to determine if there is a captive portal</li>
								<li>What they receive: Static User Agent, IP Address</li>
								<li>How often: On every Wi-Fi and cell connection</li>
								<li>How to disable: Captive portal toggle in settings app or <code>$ adb shell settings put global captive_portal_mode 0;</code></li>
								<li>Settings can be accessed via:<ul>
									<li>9+: Settings > Network & Internet > Advanced > Captive portal mode</li>
									<li><9: Settings > Network > Data usage > Disable Captive Portal</li>
								</ul></li>
								<li>Privacy Policy: <a href="https://policies.google.com/privacy" target="_blank" rel="nofollow noopener noreferrer">Google Privacy Policy</a></li>
							</ul>
							<li id="fdroid">ROM: F-Droid Official Repo</li>
							<ul>
								<li>Who: F-Droid</li>
								<li>What they receive: Repo Index Requests/App APK Requests/App Icon Requests, F-Droid Version, IP Address</li>
								<li>How often: Once per day</li>
								<li>Why they receive: Used to serve apps and their updates</li>
								<li>How to anonymize: Install Orbot and enable 'Use Tor' in F-Droid > Settings</li>
								<li>How to reduce: Decrease the 'Automatic update interval' in F-Droid > Settings</li>
								<li>How to disable: Disable the 'F-Droid' repos in F-Droid > Settings > Repositories</li>
								<li>Privacy Policy: <a href="https://f-droid.org/en/docs/Security_Model" target="_blank" rel="nofollow noopener noreferrer">F-Droid Security Information</a></li>
							</ul>
						</ul>
					</div>
				</div>
