				<div class="card centero fluid">
					<h2>Screenshots</h2>
					<p>Various screenshots of the system and apps</p>
					<div class="section">
						<div class="row">
<?php
$screenshotHTML='
<div class="card centero"><div class="section" id="lockScreen"><h3>Lock Screen</h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/11/Lock_Screen.png"/></div>
<div class="card centero"><div class="section" id="homeScreen"><h3>Home Screen</h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/11/Home_Screen.png"/></div>
<div class="card centero"><div class="section" id="includedApps"><h3>Included Apps</h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/11/Default_Apps.png"/></div>
<div class="card centero"><div class="section" id="recommendedApps"><h3>Recommended Apps</h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/11/Recommended_Apps.png"/></div>
<div class="card centero"><div class="section" id="quickTiles"><h3>Quick Tiles</h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/11/Quick_Tiles.png"/></div>
<div class="card centero"><div class="section" id="settings"><h3>Settings</h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/11/Settings.png"/></div>
<div class="card centero"><div class="section" id="settingsAbout"><h3>Settings - About</h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/11/About.png"/></div>
<div class="card centero"><div class="section" id="updater"><h3>Updater</h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/11/Updater.png"/></div>
<div class="card centero"><div class="section" id="backup"><h3>System Backup</h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/11/Backup.png"/></div>
<div class="card centero"><div class="section" id="talkback"><h3>TalkBack Accessibility</h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/11/TalkBack.png"/></div>
<div class="card centero"><div class="section" id="networkControl"><h3>Network Control</h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/11/Network.png"/></div>
<div class="card centero"><div class="section" id="permissionDashboard"><h3>Permissions Dashboard</h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/11/Permission_Dashboard.png"/></div>
<div class="card centero"><div class="section" id="permissions"><h3>Permission Control</h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/11/Permissions.png"/></div>
<div class="card centero"><div class="section" id="hypatia"><h3>Hypatia - Malware Scanner</h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/11/Hypatia.png"/></div>
<div class="card centero"><div class="section" id="extirpater"><h3>Extirpater - Free Space Eraser</h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/11/Extirpater.png"/></div>
<div class="card centero"><div class="section" id="mull"><h3>Mull - Web Browser</h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/11/Mull.png"/></div>
<div class="card centero"><div class="section" id="fdroidRepos"><h3>F-Droid Included Repos</h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/11/F-Droid_Repos.png"/></div>
<div class="card centero"><div class="section" id="dosRepo"><h3>F-Droid App Info</h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/11/F-Droid_App.png"/></div>
<div class="card centero"><div class="section" id="phone"><h3>Phone</h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/11/Phone.png"/></div>
<div class="card centero"><div class="section" id="silence"><h3>Silence - SMS & MMS</h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/11/Silence.png"/></div>
<div class="card centero"><div class="section" id="contacts"><h3>Contacts</h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/11/Contacts.png"/></div>
<div class="card centero"><div class="section" id="email"><h3>FairEmail</h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/11/Email.png"/></div>
<div class="card centero"><div class="section" id="gallery"><h3>Simple Gallery</h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/11/Gallery.png"/></div>
<div class="card centero"><div class="section" id="camera"><h3>Open Camera</h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/11/Camera.png"/></div>
<div class="card centero"><div class="section" id="vanilla"><h3>Vanilla - Music Player</h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/11/Music_Player.png"/></div>
<div class="card centero"><div class="section" id="files"><h3>Files</h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/11/Files.png"/></div>
<div class="card centero"><div class="section" id="calendar"><h3>Etar - Calendar</h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/11/Calendar.png"/></div>
<div class="card centero"><div class="section" id="clock"><h3>Clock</h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/11/Clock.png"/></div>
<div class="card centero"><div class="section" id="calculator"><h3>Calculator</h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/11/Calculator.png"/></div>
<div class="card centero"><div class="section" id="recorder"><h3>Sound Recorder</h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/11/Recorder.png"/></div>
<div class="card centero"><div class="section" id="braille"><h3>Braille Keyboard</h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/11/Braille.png"/></div>
<div class="card centero"><div class="section" id="unifiednlp"><h3>UnifiedNlp - Location Services</h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/11/UnifiedNlp.png"/></div>
';
if($SBNR_GEN_DARKMODE) { $screenshotHTML = str_replace("/11/", "/11-dark/", $screenshotHTML); }
print($screenshotHTML);
?>
						</div>
					</div>
				</div>
